[2017-10-13 14:06] deg0nz opened #9 "doxdocgen interprets keywords before void as return value"
Hi christoph,

First of all: Thanks for creating this plugin. It makes commenting in VSCode really handy.

Here's the issue:
When a function is declared as `static inline void` in C, the plugin recognizes it as a return value.
For example, when my function is named `static inline void foo_bar()`, I get the following automated doxygen comment:

[code]

Greetings!

[2017-10-13 14:11] deg0nz commented on #9
I also tested it with the `inline` and `static` keywords as the only ones before `void`. The behaviour is the same.
So functions like `inline void foo_bar()` and `static void foo_bar()` produce the same issue.

[2017-10-13 14:39] deg0nz opened #10 "Function pointers as function parameters are not recognized in C"
When i give a function pointer as parameter to a function in C, the parameter is given as `@param (my_pointer` to the doxygen comment.

Here's an example:

[code]
Maybe this should look like `@param *my_function_pointer`? I actually don't know.
I could check how Sublime Text's Doxygen plugin [DoxyDoxygen](https://packagecontrol.io/packages/DoxyDoxygen) acts in these situations and give you feedbac

[2017-10-13 18:05] christophschlosser commented on #9
Hi @deg0nz !

Thank you for this positive feedback! :)

Thank you for taking the time to report this, I will look into it!

[2017-10-13 18:07] christophschlosser commented on #10
Thank you again for taking the time to report this!

I will take a look at the Sublime Plugin myself and maybe I can find something in the Doxygen Documentation as well.

[2017-10-14 12:14] #9 closed

[2017-10-14 12:36] christophschlosser commented on #9
@deg0nz check your Extension updates in VSCode ;)

[2017-10-14 19:04] rowanG077 commented on #10
It should just look like my_function_pointer afaik.

[2017-10-14 19:04] rowanG077 opened #13 "Implement parsing of template parameters for functions."
I am also starting work on this extensions.

Currently template parameters aren't supported at all. I am looking to implement it.

[2017-10-14 19:07] rowanG077 opened #14 "Implement comment generation for classes, structs, enums and variables."
Currently comments are only generated for functions. Normally classes, structs, enums and variables also are allowed to be commented in the DoxyGen style.

[2017-10-14 19:09] rowanG077 opened #15 "Allow for templating of the DoxyGen comment style."
Only `/**` is supported right now. But DoxyGen allow for many different formats. like `///` or even xml style comment used in C#.

So we need to implement a way to extensively configure the comments that are generated.

[2017-10-14 20:35] rowanG077 commented on #15
Implemented. See pull request https://github.com/christophschlosser/doxdocgen/pull/16

[2017-10-15 11:03] christophschlosser commented on #13
Thank you very much!

[2017-10-15 11:04] christophschlosser commented on #14
Yes indeed, many parts are still missing.
The function/method generation was the first step.

[2017-10-15 11:05] christophschlosser commented on #15
Actually Qt Style option was added in 0.0.3 :)

But thank you very much for taking the time to bring this so much further!

[2017-10-15 17:15] rowanG077 commented on #14
I am working on rewriting the parser to include this.

[2017-10-15 17:15] rowanG077 commented on #13
Working on this right now.

[2017-10-15 19:23] rowanG077 commented on #10
Things get a lot harder once we have to account for function pointers. See this as an example.

`int (*idputs(int (*puts)(const char *)))(const char *);`

This is a declaration which takes a function pointer as an argument and also returns a function pointer.

[2017-10-15 19:31] christophschlosser commented on #10
Well the return case is really tricky.

[2017-10-15 20:07] christophschlosser opened #18 "Function pointers are not generated correctly"
Example:
[code]

[2017-10-15 20:16] #15 closed

[2017-10-15 20:42] rowanG077 commented on #18
You are right that maybe we can just say not to support output of function pointers. I have tried to implement it for a couple of hours now but can't seem to find a good way.

I have made an issue on the C/C++ language support git from MS. Maybe we can leverage their API to parse functions for us. https://github.com/Microsoft/vscode-cpptools/issues/1136

[2017-10-15 20:46] rowanG077 opened #19 "Functions with parameters that are templated aren't parsed correctly."
Example function:

`bool fuzzy_equal(const matrix<T, M, N>& mat, T fuzz) const;`

Comment that is generated:

[code]

[2017-10-15 22:55] rowanG077 commented on #18
I have also looked at this: https://shaharmike.com/cpp/libclang/

I havent' used it yet but will do some experiments tommorow. Might solve all our problems.

[2017-10-16 05:15] #10 closed

[2017-10-18 09:01] deg0nz opened #22 "Automatic asterisk at start of a new line"
Hey,

I have many comments that need more specific description of functions.
It would be nice, if  a new line inside of the doxygen comment section automatically starts with an asterisk.

Currently, a new line is created like this:

[code]

P.S.: Thank you for the fast reactions on my previous issues :) I Appreciate it :)

[2017-10-18 09:07] christophschlosser commented on #22
Hey!

I'm not quite sure what the problem is.

Could you add a bit more detail (maybe even a gif?) when the generated line starts without an asterisk?

[2017-10-18 09:31] deg0nz commented on #22
Hmm... gif would be tricky for some reasons.... sorry
I try to explain it otherwise:

Some IDEs (like Eclipse afaik) automatically create a new line matching the current comment style when creating a new line in the comment. For example by adding an asterisk at the beginning of a new line when using multi-line comments.

Currently, when I press return in a comment to create a new line, it just cre

[2017-10-18 10:43] christophschlosser commented on #22
I'm not quite sure that this is a problem with this extension but more with how VS Code deals with comments.

Just to be clear:

[code]

Case 1: Now you press  *enter* when the cursor is at the last character of *Blubb*

This is what happens for me then:

[code]

Case 2: If I copy a block of newlines and insert it (using crtl-c + ctrl-v) I get this result:

[code]

Is case 1 or 2 what you're doing

[2017-10-18 10:54] deg0nz commented on #22
Yeah, I was in doubt too, if this is a problem with the editor itself... Not with the extension.

I'm doing case 1 and no asterisk is added to the new line. Do you mean this could be a configuration in the editor?

[2017-10-18 11:02] deg0nz commented on #22
OK, I just found a workaround for this (sometimes googling helps ;) ).
I installed the [Auto Comment Blocks](https://marketplace.visualstudio.com/items?itemName=kevinkyang.auto-comment-blocks) extension and reinstalled your extension, now everything works as expected.

I don't know, if your extension should handle this... It's your decision.
It works for me now though...

[2017-10-18 11:03] christophschlosser commented on #22
Actually there's another way to do this (at least it worked for me on a clean VS Code install):

You need the C/C++ extension from Microsoft [ms-vscode.cpptools](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools).
If the extension is installed VS Code will add the asterisk.

[2017-10-18 11:04] christophschlosser commented on #22
Maybe I'll add this to the docs somewhere.

[2017-10-18 11:04] #22 closed

[2017-10-23 08:38] rizickus commented on #18
Any result using libclang or plans for integration into plugin?
Parsing C++ is a tricky job and using only regex will not cover most of the cases.

[2017-10-23 10:33] rowanG077 commented on #18
@rizickus

It won't work since libclang requires the entire source tree to be parsed. Doing that would require reparsing the tree each time a comment wants to be generated. We could do it by implementing another language server just for this but that seems overkill.

I am currently busy rewriting the parser using a small lexer and some heuristics. It should be done today or tommorow. This will inc

[2017-10-30 00:55] rowanG077 commented on #19
Fixed in pull request: https://github.com/christophschlosser/doxdocgen/pull/23

[2017-10-30 00:56] rowanG077 commented on #18
@rizickus Sorry it took longer to implement. Had to try 3 different solutions to finally be able to support all to me known scenarios.

Fixed in pull request: https://github.com/christophschlosser/doxdocgen/pull/23

[2017-10-30 00:56] rowanG077 commented on #14
Fixed in pull request: https://github.com/christophschlosser/doxdocgen/pull/23

[2017-10-30 00:56] rowanG077 commented on #13
Fixed in pull request: https://github.com/christophschlosser/doxdocgen/pull/23

[2017-11-05 17:27] rowanG077 opened #24 "Create tests for C++ parsing"
Since right now I think we have decent C++ support I would like to add testing to it so it will automatically test a variety of cases and we can move faster to support other languages.

I believe it might be best to start with refactoring out the parses from the editor stuff. This way we can make tests easier for just the parser without having to worry about visual studio code editor stuff.

[2017-11-05 17:28] rowanG077 opened #25 "Support for more languages"
We are close to having C++ support down and the next step would be supporting more languages. I have a preference for C# or Python. Any other suggestions?

[2017-11-05 17:40] christophschlosser commented on #24
Great idea.
This is something I also wanted to get behind now.

[2017-11-05 17:45] #13 closed

[2017-11-05 17:47] christophschlosser commented on #14
I'd like to add something here.

Generating comments for access specifiers gives funny results:

[code]

[2017-11-05 17:47] #18 closed

[2017-11-05 17:48] #19 closed

[2017-11-05 17:50] rowanG077 commented on #14
WIll fix tonight. It's because access specifiers aren't yet considered keywords.

[2017-11-06 01:29] rowanG077 commented on #14
This can be closed.

[2017-11-06 01:43] rowanG077 opened #28 "Parsing of all possible operators is not working."
Not all operators are currently working.

The following work:

`+`, `-`, `*`, `/`, `%`, `ˆ`, `&`, `|`, `~`, `!`, `=`, `<`, `>`, `+=`, `-=`, `*=`, `/=`, `%=`, `ˆ=`, `&=`, `|=`, `<<`, `>>`, `>>=`, `<<=`, `==`, `!=`, `<=`, `>=`, `&&`, `||`, `++`, `--`, `,`, `->*`, `->`, `[]`

Of the 38 default operators only `()` is not working correctly.

But besides that there are also the `new`, `new []`, `delete`

[2017-11-06 16:29] #14 closed

[2017-11-08 08:39] vbotics opened #29 "How to use the extension settings?"
Thank you for the great work creating Doxygen Documentation Generator for VS Code. I would like to know how can I access the settings to do the commenting style as shown in the wiki:
![image](https://user-images.githubusercontent.com/10283521/32539110-61de57a4-c48e-11e7-9530-98068c04d591.png)

especially using /brief, /param, /author tags etc..

Thanks a lot :+1:

[2017-11-08 10:19] rowanG077 commented on #29
I will write up a short guide tonight.

[2017-11-08 10:48] rowanG077 opened #30 "Create snippets for doxygen commands"
We are supporting doxygen commands with template generation but there are a lot more commands that can be generated and it would be really usefull to allow for some kind of intellisense when typing other commands.

So when type some configurable trigger then you get intellisense to add a doxygen command.

[2017-11-12 18:54] christophschlosser commented on #29
Hey @vbotics
just a quick heads-up:
Open the settings dialog -> search for "doxygen" -> look for the options starting with doxdocgen.generic. and edit them to your liking in the user settings.

For your case you probably want this in your settings
[code]

[2017-11-13 09:38] vbotics commented on #29
@christophschlosser Cool that worked like a charm :+1: Thank you :)

[2017-11-13 09:38] #29 closed

[2017-11-22 17:01] micah-at-talos opened #31 "type identification"
As a vscode enthusiast with a definite need to improve documentation in projects that I work on, I decided to try out doxdocgen.  I started by completely randomly selecting this line to test my first function comment block:
https://github.com/vrtadmin/clamav-devel/blob/master/libclamav/htmlnorm.c#L158

Return type should have been unsigned int, as both return statements in the function return vari

[2017-11-22 18:32] christophschlosser commented on #31
Sorry for making such a terrible first impression ;)

Something is really wrong here. I will take a look at it, thanks for sharing!

[2017-11-22 18:34] micah-at-talos commented on #31
No worries!  I'll continue to use your plugin regardless.  I look forward to future improvements.  I wish I had time to chip in with the project.

[2017-11-22 18:35] rowanG077 commented on #31
The issue is in CParser. Currently there is no special case for the fundemental types. I overlooked them. Most easy way to fix it is to build in a special case for the symbol vocabulary lambda.

All special cases are lasted here: http://en.cppreference.com/w/cpp/language/types

[2017-11-22 20:29] christophschlosser commented on #31
I think it is somewhere in this piece.
Not quite sure yet how to fix this but I'll probably take another look at it tomorrow or the following days.

[code]

[2017-11-23 18:51] rowanG077 commented on #31
@christophschlosser Do you plan on working on it? If not I can take a look this weekend because this is a pretty glaring bug.

[2017-11-23 19:39] rowanG077 commented on #31
Actually it was rather easy to fix once I thought of a good method. I actually could delete some more special case code afterwards.

See pull request: https://github.com/christophschlosser/doxdocgen/pull/32

[2017-11-23 20:58] christophschlosser commented on #31
Thanks @rowanG077 again!

@micah-at-talos I'll close this issue. If you find another bug or have any questions please open another one!

[2017-11-23 20:58] #31 closed

[2017-11-23 21:38] micah-at-talos commented on #31
That's awesome, and fast!  I'll be sure to open new issues if I find any.  Thanks!

[2017-12-25 06:55] yangxiang92 opened #35 "Can not work with "Better comments""
I installed both this plugin and "Better Comments" plugin, and then this plugin doesn't work anymore. I tried to uninstall the "Better Comments" plugin, this plugin works again.

[2017-12-25 07:01] #35 closed

[2017-12-25 14:58] rowanG077 commented on #35
What exactly is breaking?

[2017-12-25 17:12] rowanG077 opened #36 "Double templates aren't working correctly"
Parsing of functions with multiple templates isn't working.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2017-12-25 17:23] rowanG077 opened #37 "functions with templates in their namespace path aren't parsed correctly."
# Description

It is possible to seperate the implementation and the declaration of template classes by including the implementation at the end of the class declaration. This leads to a template in the function name. This isn't parsed correctly and leads to bad comments.

## Code example

[code]
### Expected result

[code]

### Actual result

[code]

[2017-12-25 17:27] rowanG077 opened #38 "Functions with multiple symbols after the parameters parenthesis aren't parsed correctly."
# Description

When multiple symbols are placed after the parenthesis where the function parameters are located results in bad comments.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2018-01-13 06:35] zt449569708 opened #40 "can not add function comment in *.c file"
# Description

can not add function comment in *.c file

[2018-01-13 08:56] christophschlosser commented on #40
Thanks for the headsup.
Will look into it.

[2018-01-13 09:10] christophschlosser commented on #40
Could you share the .c file or at least the function?

It works for me with .c and .cpp files.

[2018-01-13 09:33] zt449569708 commented on #40
@christophschlosser OK.
I use "doxdocgen" plugin.  The results are as follows
[code]
But I use "C-family Documentation Comments" plugin,it can works.
[code]

[2018-01-13 09:36] zt449569708 commented on #40
@christophschlosser How to share the .c file? Email or something else?

[2018-01-13 09:52] christophschlosser commented on #40
This is what is generated for me:
[code]

Is VS Code detecting your language to C? (In the lower right corner of the blue bar does it say 'C' next to the feedback smiley?)
Do you have the C/C++ tools from MS installed? (https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools)

You can create a Gist with the file contents if you want to share it. But I don't think it's not necessary.

[2018-01-14 05:51] zt449569708 commented on #40
@christophschlosser Yes，it is a C file. But  it can work in *.cpp file.

[2018-01-14 18:17] christophschlosser commented on #40
Ok this is really strange.
What version of the plugin are you using?
Have you changed your config?

[2018-01-15 13:29] zt449569708 commented on #40
@christophschlosser Version is 0.0.7.And the configuration has not been modified.

[2018-01-15 17:49] christophschlosser commented on #40
You have the MS C/C++ tools installed and if you change the file to C++ it's working?

[2018-01-26 05:57] HarbourXbr opened #41 "can not add function comment in *.c file"
# Description

Anything you'd like to add

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2018-01-26 06:00] HarbourXbr commented on #41
I need to convert C files into CPP files and convert them back to C.
I need to do this every time when i open it.

[2018-01-26 06:00] HarbourXbr commented on #41
then it works

[2018-01-26 23:31] christophschlosser commented on #41
I added your observation to #40

[2018-01-26 23:31] #41 closed

[2018-01-26 23:33] christophschlosser commented on #40
@HarbourXbr

I will take a look at this as soon as I can get around to it. This is utterly annoying.

[2018-01-27 00:34] HarbourXbr commented on #40
@christophschlosser thanks

[2018-01-27 12:21] #40 closed

[2018-01-27 12:22] christophschlosser commented on #40
Should be fixed now.
It will be in release 0.0.8

[2018-01-31 00:23] HarbourXbr opened #43 "you are not push the 0.0.8 version to VSCode"
# Description

Anything you'd like to add

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2018-01-31 17:09] christophschlosser commented on #43
See https://github.com/christophschlosser/doxdocgen/projects/1

[2018-01-31 17:09] #43 closed

[2018-02-20 21:05] #38 closed

[2018-02-20 21:06] #37 closed

[2018-02-20 21:07] #36 closed

[2018-02-20 21:07] #24 closed

[2018-02-20 21:15] #28 closed

[2018-02-20 21:25] christophschlosser opened #47 "Update readme with new functionality"
# Description

Create new gifs and descriptions of the functions introduced in 0.1.0

[2018-02-20 23:13] christophschlosser opened #49 "Increase coverage"
# Description

Increase code coverage. Mostly negative tests are needed.

[2018-02-22 10:25] christophschlosser commented on #31
Hey @micah-at-talos :)

Had you time to check out the new version of the plugin? It should improve comment generation a lot, thanks to great contributions from @rowanG077.

If you like the plugin now more then initially maybe you could consider changing your rating on the VS marketplace ;)

[2018-02-24 01:12] rbvisualcomp opened #50 "Doxygen headers for c++ files?"
Is there any support for generating doxygen comment headers to files?
/**
@file <details>
@brief
**/

[2018-02-24 01:13] #50 closed

[2018-02-24 09:34] christophschlosser opened #51 "Generate file descriptions"
# Description

Generate description for files in doxygen.

### Expected result

[code]

### Actual result

[code]

[2018-02-24 09:35] christophschlosser opened #52 "Customize number of lines to look for method."
# Description

Instead of using fixed 20 lines to look for the end of the method use a custom value in case someone encounters problems with this limit.

[2018-02-24 10:30] #52 closed

[2018-02-24 10:52] christophschlosser commented on #50
Hey :)
Funny enough this is something that came to my mind yesterday.
See #51 (and #54)

[2018-02-25 00:58] #51 closed

[2018-02-25 10:54] christophschlosser opened #55 "Customize order of doxygen tags"
# Description

Allow for custom order of doxygen tags

[2018-02-25 14:38] christophschlosser opened #57 "Suggest smart text"
# Description

Suggest text in the generated comment.

[2018-02-25 14:42] #47 closed

[2018-02-25 17:02] christophschlosser commented on #30
This could be more challenging then expected. This needs an completion provider for c/c++ comments.

[2018-03-01 11:50] but0n opened #61 "'///' doesn't trigger method"
# Description

MacOS

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2018-03-01 16:23] christophschlosser commented on #61
Could you please be more specific?

Did you set the option "doxdocgen.generic.triggerSequence": "///"?

Could you please paste your modified values for doxdocgen settings?

What version of VS Code and doxdocgen are you running?

[2018-03-02 02:29] but0n commented on #61
Sorry, I'm new to vscode 😭, I didn't know how to config the plug-in, I haven't set `"doxdocgen.generic.triggerSequence": "///"?` before, now it's working with '///'

Thank you!

[2018-03-02 02:29] #61 closed

[2018-03-02 19:24] #57 closed

[2018-03-02 19:26] christophschlosser commented on #61
No problem, no damage done :)

I've added the config options to the README to make it easier for new comers of VS Code and this addon.

See: https://github.com/christophschlosser/doxdocgen#config-options

[2018-03-02 22:27] #55 closed

[2018-03-25 19:49] leoschwarz opened #67 "Don't create a comment while editing an existing comment."
# Description

Chances are I misconfigured this extension, so correct me if this is the case.

## Code example

Configuration:

[code]

[code]

### Expected result

Given my cursor is on the second line, even after the space (because we could argue that the space should not be ignored silently in any case), and I press enter:

[code]

or

[code]

### Actual result

[code]

[2018-03-29 22:09] #67 closed

[2018-03-29 22:28] leoschwarz commented on #67
Thanks for fixing this so quickly!

[2018-03-29 22:29] christophschlosser commented on #67
You're welcome. Release is underway (#69)

[2018-04-05 08:04] aHg9aejba commented on #25
How about c++/cli?

[2018-04-05 14:59] christophschlosser commented on #25
I don't know. I don't know c++/cli.
Can you create a new issue with some code examples?

[2018-04-09 18:15] christophschlosser commented on #25
I'm gonna close this so people will open up their own issues if they want a new language added.

[2018-04-09 18:15] #25 closed

[2018-04-14 21:30] Makogan opened #70 "How do you trigger file heading autogeneration?"
In the examples it si shown that file description templates get Automatically generated.

However I can't get DDG to generate the file descriptions for me.

[2018-04-15 09:45] christophschlosser commented on #70
Could you please use the provided issue template?

It would make it easier for me to understand your problem.

Anyway please fill in the following gaps:

## Description
Please tell me a bit more about your file, line numbers where you attempt the trigger and if/what you modified in your config.

## Code example

[code]

[2018-04-16 00:40] Makogan commented on #70
have noticed the following pattern.

In visual studio code, if you create a new file and start adding the documentation (i.e start typing /**)

The file template description does get generated

However if there are any comments or code on teh file it wont

# Description

This happens for any cpp and hpp files that already contain code

# Code example
//Typing /** does not start file description au

[2018-04-16 15:05] christophschlosser commented on #70
Ok thank you.

Could you please try with #include <someHeader.h> on the line after your comment generation?

If it works I have to improve the file detection.
https://github.com/christophschlosser/doxdocgen/blob/482ed941aab73230a560024e37c272b1b398b48a/src/Lang/Cpp/CppParser.ts#L418
https://github.com/christophschlosser/doxdocgen/blob/482ed941aab73230a560024e37c272b1b398b48a/src/Lang/Cpp/CppParser

[2018-05-08 11:59] gsabater commented on #61
@christophschlosser is this config option implemented? I don't see the `"doxdocgen.generic.triggerSequence"` option anywhere, and i would love to use this plugin for php and js primarly

[2018-05-09 14:09] christophschlosser commented on #61
Hey @gsabater, there's a reason for that.

See https://github.com/christophschlosser/doxdocgen/releases/tag/0.3.0#config-update

The key is now called "doxdocgen.c.triggerSequence".
The plugin is not compatible with js or php. Currently only C and C++ are supported. If you'd like to add support for JS and/or PHP feel free to do so.

[2018-05-09 14:12] gsabater commented on #61
@christophschlosser Thanks, i saw the doxdocgen.c.triggerSequence, but i though that the generic existed as well.

I don't think i have the knowledge to implement the support to other languages, but I guess that giving it a try won't hurt.

Thanks for your time.

[2018-05-09 14:39] christophschlosser commented on #61
Feel free to try. In case you're stuck somewhere maybe we can finish it together.

[2018-05-18 11:59] #70 closed

[2018-05-30 14:08] gabriel-munteanu opened #72 "Add support for multiple programming languages"
# Description

I propose to add support for multiple languages. I am interested in PHP but maybe other people will also like Python, C#, Java, JavaScript, etc. :)

[2018-05-30 14:14] christophschlosser commented on #72
Hello,
I currently have no time to do this myself so feel free to give this a shot.

[2018-06-04 08:17] gabriel-munteanu commented on #72
Here you can find the syntax for PHP function explained: https://github.com/php/php-langspec/blob/master/spec/13-functions.md#grammar-parameter-declaration .
I will think of some test cases.

[2018-06-06 09:45] rowanG077 commented on #72
I am interested in doing C#. In a month I have vacation so I can implement it.

[2018-06-07 06:18] christophschlosser opened #73 "Support C#"
# Description

Generate C# comments.

[2018-06-07 06:19] christophschlosser opened #74 "Support PHP"
# Description

Generate documents for PHP.

 https://github.com/php/php-langspec/blob/master/spec/13-functions.md#grammar-parameter-declaration

[2018-06-07 06:20] christophschlosser opened #75 "Support Javascript"
# Description

Generate Comments for Javascript

[2018-06-07 06:21] cschlosser opened #76 "Support Python"
# Description

Generate Python comments.

[2018-06-07 06:21] cschlosser opened #77 "Support Java"
# Description

Generate Java comments.

[2018-06-08 15:33] CollinDietz opened #78 "Doesn't parse cpp member pointer names correctly"
# Description

When generating a doxy comment for a function that takes a member pointer parameter it uses the second piece of the member pointer type instead of the parameter name

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2018-06-09 20:42] rowanG077 commented on #78
Wow I C++ feature I actually didn't know about. I will fix this up next weekend.

[2018-06-24 22:10] TheAifam5 opened #79 "Cannot read property 'text' of undefined"
Log:
[code]

[2018-06-25 08:46] christophschlosser commented on #79
I need more information.

VSCode version, when did this happen, what were you trying to do?

[2018-06-25 09:20] christophschlosser commented on #78
@rowanG077 what's your status on this?

[2018-06-25 15:32] TheAifam5 commented on #79
Happens while editing any file format.
Version:
Version 1.24.1
Commit 24f62626b222e9a8313213fb64b10d741a326288
Date 2018-06-13T17:51:32.889Z
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

[2018-06-26 15:58] christophschlosser commented on #79
This is super strange and I can not reproduce it. This can only occur when the extension receives an event from the VS Code runtime and the event becomes undefined while we're reading a property from it.

Another thing is that JSON should not trigger the extension at all!

I added another check if the event exists. I will release it today hope this fixes it. Once you updated to 0.3.2 it would be g

[2018-06-26 15:58] #79 closed

[2018-06-26 20:31] TheAifam5 commented on #79
@christophschlosser looks like that's a breaking change inside the VSCode. I noticed the same bug in other package.

[2018-07-06 17:59] #78 closed

[2018-07-20 08:06] ronshe opened #84 "Separate C++ from C settings"
# Just add other settings to C++

## C settings (as today):
[code]
## C++ settings (new):
[code]

[2018-07-20 10:01] christophschlosser commented on #84
Just to be clear.
You want to have different settings for C++ and C? Or do you want to rename them?

[2018-07-22 06:15] ronshe commented on #84
Different settings.
C++ comments are a lot better, but in ANSI C we cannot use them.

Best regards,
Ronny Sherer

On Fri, Jul 20, 2018 at 1:01 PM Christoph Schlosser <
notifications@github.com> wrote:

[2018-07-22 10:04] christophschlosser commented on #84
Okay I'm still not sure I get your problem.

This is confusing to me:

Could you please post a whole usecase and tell me what you mean by this?

[2018-08-03 16:09] christophschlosser commented on #84
Closing this as there is no sufficient description.

[2018-08-03 16:09] #84 closed

[2018-08-17 06:42] LeThiHyVong opened #85 "Conflict to other extension"
# Description
I see your work have conflict to 2 extensions that both handles /** multiline comment style:
- [Auto Comment Block](https://marketplace.visualstudio.com/items?itemName=kevinkyang.auto-comment-blocks): if Auto Comment Block catch the /** first then your extension parse incorrectly (like the example below). I use this since Cpp-tools can't expanse multiline comment to the end */.
## Co

[2018-08-17 13:35] christophschlosser commented on #85
Thank you for using the template!
This addon doesn't handle only `/**` but any trigger sequence you specify (e.g. `///` for XML style or `/*!` for Qt style). It is your obligation to setup your workstation correctly.

As far as I understood your request here's how to solve it: The functionality you described for auto comment block is included in this addon as well so there is no need to have both

[2018-08-17 13:46] LeThiHyVong commented on #85
Sure, I know that.
I just hope you update this to the official doc to make sure no one get stuck in same problem like me.

[2018-08-17 15:30] christophschlosser commented on #85
I'm still not sure where you're getting at. I'm not gonna list any addon which may or may not be compatible with this one (which could change in versions as well).

[2018-08-17 15:30] #85 closed

[2018-08-21 19:01] oobleck opened #86 "JSDoc support"
#  Description

Would love to see this extension also support JSDoc generation in Javascript/Typescript/React files.

Having recently switched to VSCode from Sublime Text, I'm deeply missing the DoxyDoxygen package. This VS Code extension seems like a logical starting point to get some of that package's functionality.

Is including JSDoc support within the potential scope of this VSCode extension?

[2018-08-23 14:29] christophschlosser commented on #86
It sure is. Please give it a try if you feel like it! :)

[2018-08-23 16:56] Amorano commented on #76
So I am utterly confused on if these languages are supported.

You have the tickets all closed and pointing to another closed ticket that has no resolution on if those actual action items were done? And i can find no mention of other lang support in the breakdown?

[2018-08-24 08:41] rowanG077 opened #87 "Return is included in the generated comment for things that shouldn't have a return."
# Description

Many constructs that should have no "return" in the comment block return it in the generated comment.

## Code example

Constructor/Desctructors

[code]

Namespaces

[code]

Classes

[code]
Class members
[code]

### Expected result

Constructor/Desctructors

[code]

Namespaces

[code]

Classes

[code]
Class members
[code]

### Actual result

Constructor/Desctructors

[code]

Namespa

[2018-09-10 10:58] Layty opened #88 "how to add \r\n"
how can I set to show like that as follow
[code]
I want to add `**********`and `\r\n` in the `"doxdocgen.generic.order": `,but  it doesn't work.

thank yo .

[2018-09-11 00:45] Layty commented on #88
It work in config json. Thank you .

For others ,pay attention to that:
And if you set it in the gui ,the `\n` will not work . because it convert to `//n`

[2018-10-04 09:11] v4a26 opened #91 "Wrong \param value generation."
# Description

`\param ` handling gone wrong. Seems like it's some keyword-based approach. I can reproduce this with `double`, `int`,  `long` prefix of argument, but not with `float`.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2018-10-04 20:03] #91 closed

[2018-11-23 18:27] MaximilienNaveau opened #94 "We miss the attribute of the class"
It would be very cool if this would also work for the class attributes.
(Or maybe I did not fully understand how to parametrize it ;) )

## Code example

[code]

### Expected result

[code]
or at least the possibility to edit a string for the attribute

### Actual result

[code]

[2018-11-23 21:37] christophschlosser commented on #94
Hi @MaximilienNaveau,

yes it would be great :) Right now the extension only does functions/methods.
This would all be so much easier if MS would just expose the info (they have) in their language server.

[2018-11-26 09:31] MaximilienNaveau commented on #94
Thanks for your reactivity I am just new in VSCode but so far it is been a surprisingly good experience.
Hope you can keep up the good work with this extension^^
Have a nice day.

[2018-12-02 13:41] muisje opened #95 "Ability to update the version number without editing it yourself"
# Description

Ability to update the version number without editing it yourself.

When i was configuring doxdoc in vscode i saw that version number was 'hard coded' and didn't see a way to make it variable.

Options:

I would like to see:
- On save
- On command
- On Keyboard shortcut

These things could be nice to have: (but can be achievable e.g. git hooks)
- On git Commit
- On git Push

## Code

[2018-12-03 17:03] christophschlosser commented on #95
What would you like to see on these options?
How should the addon know what to increment?

I'm gonna be honest but this seems like a feature that is hard to do right for everybody because of different versioning schemes and so on. Having the number/string as a setting is already pretty flexible.

Probably the easiest way for you is to have a git hook run a search and replace.

[2018-12-27 08:57] JacquelinLouis opened #96 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `doxdocgen`
- Extension Version: `0.4.1`
- OS Version: `Linux x64 4.15.0-43-generic`
- VSCode version: `1.30.1`

[cschlosser.doxdocgen-unresponsive.cpuprofile.txt](https://github.com/christophschlosser/doxdocgen/files/2711972/cschlosser.doxdocgen-unresponsive.cpuprofile.txt)

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-ext

[2018-12-27 10:52] rowanG077 commented on #96
Hmmm I looked at the profile and the `getTemplate` function in `CppParser.ts` is the culprit it takes `94%` of the total time. Quickly scanning over the code I don't see anything wrong.

Can you provide an example how your profile was taken so I can look into it in detail?

[2018-12-28 15:37] christophschlosser commented on #96
@rowanG077 Only thing I can think off right now is an extemely long line was captured and the expression search loop doesn't find a '<' or there are no whitespaces.

@JacquelinLouis Could you please also provide us with your config settings for Doxdocgen?

[2018-12-28 15:37] #95 closed

[2018-12-31 13:04] JacquelinLouis commented on #96
Sure ! Did you mean this one ?
[doxygen.txt](https://github.com/christophschlosser/doxdocgen/files/2718354/doxygen.txt)

[2019-01-03 08:17] JacquelinLouis commented on #96
No, I didn't change them.

[2019-01-05 20:10] christophschlosser commented on #96
Could you please provide an example piece of code where this happens for you?

[2019-01-08 21:21] christophschlosser commented on #96
This is unfortunate.
Can you reproduce it with another (non company) example?

[2019-01-14 21:55] dave2k19 opened #97 "Trigger sequence /** does not work"
Issue Type: ?
Extension Name: doxdocgen
Extension Version: 0.4.1
OS Version: Windows 7 Enterprise
VS version: 14.0.25431
VSCode version: 1.30.2

Hi,

I have installed the plugin through VSCode but no matter what I do the trigger sequence does not work in my code.
I tried to apply it to existing code and also to newly created files (c and cpp) but it just did not trigger. I verified that the plugin

[2019-01-15 04:37] JasonChu1313 commented on #97
I encounter this problem as well.

[2019-01-15 18:35] christophschlosser commented on #97
Unfortunately I don't have a windows machine around at the moment and my macOS setup works.

Could you please take a look into the JS console of VS Code? Take a look into `Help > Toggle Developer Tools` for this.
A list of your plugins and settings would also be really helpful.

Is vscode detecting your file as C/C++? It should show you in the lower right corner.

[2019-01-15 22:40] JasonChu1313 commented on #97
Thanks for your reply. Actually, I test it on my mac, and it works for C and C++ but it didn't work for C#, but I think it also supports C# right? Do I need to do some extra configuration for it to work for dot cs file?

[2019-01-16 05:40] christophschlosser commented on #97
No, right now it‘s only C and C++.

[2019-01-22 18:22] JonMcDevitt commented on #97
I also encounter this problem. I have attached a zipped .mp4 recording of the issue. Is this not the correct way to configure and use the Doxygen extension?

[VSCode_DoxygenExt.zip](https://github.com/christophschlosser/doxdocgen/files/2784088/VSCode_DoxygenExt.zip)

[2019-01-23 22:04] dave2k19 commented on #97
Hi Christoph,
sorry for late reply. I got a few plugins and I will report them tomorrow.
This is the JS console of VS code:
![image001](https://user-images.githubusercontent.com/46692152/51640093-e45bfa80-1f62-11e9-9cdc-5c4599b9337d.png)
Is that what you are looking for? It does not strike as informative.

[2019-01-23 22:14] dave2k19 commented on #97
My plugins:
- Azure AD Authentification Connected Service, V 1.1
-  CppTrippleSlash V1.0.6
- Developer Analytics Tools V 7.0.206221
- Get Xamarin V 1.0.0.0
- MicroProfiler V1.4.605.0
- Microsoft .NET and Web Tools V 14.1.11107.0
- Microsoft .NET Web Frameworks and Tools V. 5.2.40314.0
- Microsoft Azure Mobile Services V. 2.0
- Microsoft Azure Storage 1.1
- Microsoft Connected Services V 2.0
- Micr

[2019-01-24 16:50] christophschlosser commented on #97
Hi @dave2k19,

Thank you for your feedback.
Regarding the console you were very close. Please take a look at the `Console` tab right to the `Elements` tab you screenshotted for me.

These plugins appear to be **Visual Studio** plugins which don't work with **VS Code** (at least to my knowledge).
Could you please provide me with a list of **VS Code** plugins?

[2019-01-28 19:24] dave2k19 commented on #97
Hi @christophschlosser,

thanks. Sorry I could not check back over the weekend.
Not sure whether these screenshots help:

![plugins_vs_code](https://user-images.githubusercontent.com/46692152/51860601-7c2e5f80-233a-11e9-9f59-4f4534237841.PNG)
![vs_code](https://user-images.githubusercontent.com/46692152/51860611-818baa00-233a-11e9-8996-8ab8e9f3ade4.PNG)

[2019-01-29 18:23] christophschlosser commented on #97
Hi @dave2k19
Thank you very much!
These helped me in eliminating possibilities but don't solve the problem unfortunately.

Could you please do me another favor and record a short video?
Your settings.json would also be really helpful.

[2019-01-29 18:47] SoftwareApe opened #98 "Trigger sequence '///' doesn't give expected result"
# Description

When using '///' as trigger sequence I don't get the doxygen comment with the same leading characters.

## Code example

In an empty `.cpp` file typing `///` and pressing return gives me
[code]
### Expected result

[code]
My company's coding guidelines forbid the usage of multiline comments. It would be really helpful if this could be context sensitive.

[2019-01-29 18:52] christophschlosser commented on #98
Hi Carl,

thank you for your great description!

The trigger sequence doesn't change the comment that is generated. This is helpful for muscle memory but you can configure the generated output independently.

Please take a look at: https://github.com/christophschlosser/doxdocgen#config-options

The settings you want to take a closer look at are probably:
[code]

Changing them to:
[code]

should gi

[2019-01-29 18:56] SoftwareApe commented on #98
Wow, thanks for the quick feedback. It does seem to work. Although it still generates a last line even is lastLine is empty. Although it seems to add two last lines if it isn't, i.e. for
[code]

I get

[code]
That's just a minor nitpick though.

[2019-01-29 19:00] christophschlosser commented on #98
Hi,

happy to help :)

I may have the solution to your other problem as well:
[code]

This is the default order and fields which get generated for files. As you can see there is an empty line after the copyright before the custom one.

Changing this to:
[code]
should do the trick.

[2019-01-29 19:02] SoftwareApe commented on #98
Thank you!

[2019-01-29 19:02] #98 closed

[2019-02-04 20:51] dave2k19 commented on #97
Hi @christophschlosser,
sorry for late reply again. I shot a video showing that the plugin is active and the c trigger sequence is "/**".
Secondly, it shows that nothing happens after the trigger sequence is executed.
https://quickfileshare.org/Unh/20190204_211735.zip

If I found the correct settings.json, it is quite slim. I searched my entire C drive.
settings.json
{
    "doxdocgen.generic.newLi

[2019-02-04 23:13] rowanG077 commented on #97
@dave2k19

You aren't coding in visual studio code. You are running visual studio. This plugin only works for visual studio code.

[2019-02-05 07:31] jvlker commented on #97
I got the same problem. Typing /** + Enter in .h or .cpp-files doesn't work. Here are my plugins:
![screenshot from 2019-02-04 21-26-15](https://user-images.githubusercontent.com/4425214/52258375-36b3f880-291f-11e9-8508-24e5d7595b86.png)

And these are the only logs in the console not comming from CMakeTools after a fresh start of vscode and trying 3 times to get the doxygen-generation:
![screensh

[2019-02-05 10:08] rowanG077 commented on #97
@jvlker

Can you post a video of the issue? This has been open for weeks now and no one has posted a way to reproduce or actually shown that it doesn't work.

[2019-02-05 10:33] jvlker commented on #97
![doxygen](https://user-images.githubusercontent.com/4425214/52267598-bbac0b80-2939-11e9-8988-7828defa6ce5.gif)

I also tried a new empty project and in a single main.cpp file it seems to work...

[2019-02-05 10:49] jvlker commented on #97
I played a bit around with the settings and it seems, that the `editor.formatOnSave` is responsible. When I switch to false (and restart vscode), doxygen works. But the reformatter is more important than doxygen for me...

[2019-02-05 11:08] rowanG077 commented on #97
I can't seem to reproduce it. I installed the C/C++ Microsoft extension to use it's formatter and the plugin works for me. Would you be willing to run the plugin in debug mode together with me via screenshare or something and checking out what is going wrong?

[2019-02-05 12:50] jvlker commented on #97
@rowanG077 sure, can you send me an email?

[2019-02-10 11:38] TechnoBuddhist opened #99 "How to generate documentation?"
# Question

How do I generate the documentation when I've added all the doxy comments using your extension?

[2019-02-10 13:06] rowanG077 commented on #99
Use doxygen just like you would normally. This has nothing to do with this plugin.

[2019-02-10 13:11] TechnoBuddhist commented on #99
That did occur to me but I assumed this extension was all in one!  Cheers!!

[2019-02-10 13:11] #99 closed

[2019-02-12 16:27] gh-fb opened #100 "Support Visual Studio"
# Description

Any change of supporting not only Visual Studio Code but also Visual Studio (e.g. Visual Studio Professional)

[2019-02-12 18:37] christophschlosser commented on #100
If Microsoft allows to run VS Code extensions in Visual Studio then yes absolutely. Right now it‘s not possible as far as I know.
Porting it to Visual Studio doesn‘t work for ne either because I don‘t own a Windows PC.

[2019-02-12 18:37] #100 closed

[2019-02-15 18:55] bytesoftly commented on #97
Got the same problem here, any progress?

[2019-02-15 20:16] rowanG077 commented on #97
@jvlker issue got resolved after restarting VS Code. @bytesoftly since you seem to be the only who still has this issue can you post a gif/movie of it not working. I can look into it on the weekend if I can reproduce it.

[2019-02-15 21:02] bytesoftly commented on #97
@rowanG077 Ah same problem here, all good and awesome plugin.

[2019-02-15 21:05] #97 closed

[2019-03-14 10:17] kamilpok opened #101 "Macro in Arguments"
# Description

Macros in arguments are not parsed correctly

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-03-14 18:21] christophschlosser commented on #101
This is obviously a bug, but I'm not sure it is one we can fix.

Since Microsoft does not expose the code model through their native language server it's not possible to have stuff like this. Same reason we can not have documentation on mouseover.

Only solution I think here would be to use an alternative language server for a clang codemodell and try to parse it this way.

[2019-03-14 18:21] #96 closed

[2019-03-15 07:47] kamilpok commented on #101
The type is not used in the output. Can it be just skipped?

This might be useful: https://github.com/christophschlosser/doxdocgen/pull/23#issuecomment-341932606

[2019-03-15 09:59] rowanG077 commented on #101
Well since macros are just some identifier or some identifier followed by parenthesis we could parse this. But like I said in the @kamilpok references this might not be inline with what is actually going on and since the macro can basically do anything.

[2019-03-15 14:05] christophschlosser commented on #101
To be honest, I don't think there is a way to do this without having a codemodel available.

The macro you wrote could also be like this:

[code]

There may be a possibility to have a guess for standard types but as soon as you get to custom types there is just no way to find out what is what by simply parsing the method signature string.
Macros are rarely defined in place as well and without a co

[2019-03-15 14:05] #101 closed

[2019-03-16 13:13] enbyted opened #102 "Invalid argument name for C enum types"
# Description

For a function prototype with enum type, like this: `void MCAL_SPI1_SELECT_CLOCK(enum mcal_spi1_clk clock);`
the generated Doxygen uses `mcal_spi1_clk` as variable name instead of `clock`. Note that this works as expected for `struct` types.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-03-20 03:06] EatonLin opened #103 "The copyright tag cannot get the value of the other tags such as {author} {email}"
Hi, i think it would be convenience to modify copyright tag like this:
"doxdocgen.generic.authorEmail": "Eaton@myemail.net",
"doxdocgen.generic.authorName": "Eaton",
"doxdocgen.file.copyrightTag": [
        "@copyright Copyright (c) {year} {author} ({email})"
 ],
But i got this weird copyright value in my file: @copyright Copyright (c) 2019 {author} ({email}), did i make mistake?

[2019-03-20 16:58] christophschlosser commented on #103
As you can read in the documentation of the "doxdocgen.file.copyrightTag" key:

And from your pasted string the year was correctly replaced. The others inserted as string, just as described in the documentation.

[2019-03-20 16:58] #103 closed

[2019-03-20 17:32] christophschlosser commented on #87
Can not reproduce.

[2019-03-20 17:32] #87 closed

[2019-03-21 23:56] 80avin opened #105 "Problem with multiple cursors, doesn't add comments for all functions."
# Description

When I create multiple cursors before 2 or more functions using Alt+Click, it doesn't put help comments before them. Instead, it creates help comment before the first function when I create a cursor and then move down in file to create another cursor. It doesn't create any help comment if I move up to create second cursor, after creating first cursor.
## Example
[code]
If I press Al

[2019-03-22 19:17] christophschlosser commented on #105
Hi @80avin ,

this is a great feature request!
I took a quick look at it and the reason for that behavior is mostly because the runtime of VS Code sends different data when there are multiple cursors instead of one.
The internal processing of VS Code with multiple cursors does first the action of updating the cursor position and the triggering the addons whereas with a single cursor it's done the

[2019-04-09 16:59] FauthD opened #106 "Trigger sequence does nothing"
Hi,
after installing from inside vs-code, the default trigger sequence "/**" does not cause any action.
I tried on Windows and Linux.
Perhaps there is some extra settings?
With CNTRL-SHIFT-P and entering "dox" there are no settings visible in vs-code.

Also created a file doxdocgen.json in the User dir (where the other json files are) with contents copied from git (.md). Perhaps that file should g

[2019-04-13 10:43] rms95 opened #107 "Feature suggest: Indent option"
# Description

Quite a few code projects I worked on use indentation in doxygen blocks. It would be nice to have an option to do this in the extension.

## Code example

The blocks I use generally looks like this:
[code]
Where the total width from " * " to the start of the description is 16 characters wide, which fits most keys.

### Actual result

[code]

Having an option named something like dox

[2019-04-13 11:59] christophschlosser commented on #107
Thank you for the great suggestion!

I will take a look into it.

[2019-04-13 12:05] christophschlosser commented on #106
If you can not see any settings in your preferences menu of VS Code something went probably wrong with the install.

Doxdocgen does not maintain a separate config file but relies 100% on the mechanisms provided by VS Code.

Could you please provide some detail on what version of VS Code and doxdocgen you are using?
Also what is the output in the developer console of VS Code?

[2019-04-13 12:21] #102 closed

[2019-05-03 18:41] RodrigoMagenis commented on #74
Hello, in the sublime I found a package [project](https://github.com/20Tauri/DoxyDoxygen) implemented on doxygen with support for languages:
- Commands list for ApiDoc
- Commands list for AsDoc
- Commands list for Doxygen
- Commands list for Drupal Api Module
- Commands list for Google Closure
- Commands list for JavaDoc
- Commands list for JsDoc
- Commands list for PhpDocumentor
- Commands list f

[2019-05-06 19:44] christophschlosser commented on #74
Hi @RodrigoMagenis ,

yes the sublime package is really good and a lot more capable than this addon.

There are a few downsides with the addon though:
* It's not open source. My first idea for this addon was to port an existing somewhat reasonable existing addon to VS Code. There are simply no addons that are free(as in speech)+have reasonable feature set+don't have a lot of dependencies to other

[2019-05-09 07:25] marcelkalinowski commented on #106
I have the same problem. VS Code: 1.33.1, doxdocgen: 0.4.2

[2019-05-09 17:06] christophschlosser commented on #106
You don't see the settings either?
What OS are you running on?
Is there output in the developer tools console?

[2019-05-12 20:18] r12f commented on #31
Hi @christophschlosser , I am still seeing this issue. Our code is using SAL annotations, which looks like the following. And the parameter will still shows the (part of) type instead of the name.
[code]

[2019-05-13 17:38] minkir014 opened #109 "Previewing"
It creates Doxygen but it doesn't view it when I call the method I created It doesn't show the documentation

[2019-05-14 19:31] christophschlosser commented on #109
I'm not sure what you mean.

If you talk about a popup/tooltip for the documentation this is not possible due to the way Microsoft treats the language server: https://github.com/Microsoft/vscode-cpptools/issues/658

[2019-05-14 19:31] #109 closed

[2019-05-14 19:34] christophschlosser commented on #31
Hi @r12f , this is a Microsoft thing right?

If this is not in the standard C/C++ please open a different issue.

[2019-06-02 06:08] ronnystarkware commented on #106
I have the same problem. I can see the settings, but no triggering and CRTL-SHIFT-P writing "dox" shows nothing.
Linux, VSCode 1.34, doxdocgen: 0.4.2

[2019-06-03 09:01] dkuschmierz opened #110 "Parse VSCode-vars in config"
# Description

Replace the VSCode-internal variables with their value instead writing the variabel as text.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-06-07 09:09] NeutralNoise opened #111 "Trigger Sequence /** causes extra */ to be generated and the comment block isn't fully generated."
# Description

When using ```/**``` as the Trigger Sequence an extra ```*/``` is also generated because ```/*``` generates this. This doesn't let the comment get fully generated as it blocks the parser (that is my guess.) If I change the Trigger Sequence to ```//*``` the extra ```*/``` isn't generated and everything works fine.

This didn't start happening until updated to version 1.35.0 of Visual

[2019-06-07 10:50] HDHarry commented on #111
I suppose  this started to happen after the latest update, which afaik introduced
multi line comment auto-close.
[This issue, that is , the specific code linked and its answers](https://github.com/microsoft/vscode/issues/1966#issuecomment-479404534) seems related. A workaround is proposed therein that worked for me.
As far as I could extract however a fix requires work on vscode itself?

[2019-06-10 06:57] platisd commented on #111
Very annoying problem that breaks the functionality of doxygen documentation extension. :cry:

[2019-06-12 04:13] hg-zt commented on #111
Found an easy workaround, add this line into your `settings.json`:

[code]

Now just type `/` three times and press return.

Note the trigger sequence is not necessarily same with the prefix of the generated comment.

[2019-06-13 04:43] rib2bit opened #112 "How do we suppress the blank line after @brief?"
# Description

I would like to try to reproduce the [XML Documentation comment](https://docs.microsoft.com/dotnet/csharp/codedoc) style with the following configurations,
[code]

but a line will be inserted after brief (summary) section. How do we remove that blank line?

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-06-14 13:48] Caian commented on #111
I wonder if this is not a VSCode problem because I launched it with all extensions disabled and the "/*" sequence still triggers a "*/".

[2019-06-17 12:16] christophschlosser commented on #111
Hi all,

thanks for the report.

This has actually been the case for quite some time now but previously we were able to overwrite and characters generated by VS Code.
It seems now that the order of events changed and we can not rely on this.
I will take a look at it and then see if we need a workaround for the `/**` style comments.

[2019-06-17 12:20] christophschlosser commented on #112
Hi @rib2bit ,

currently this is not possible because I always assumed that a detailed description was needed.

I will introduce a new option to specify a configurable detailed description.

[2019-06-18 04:08] rib2bit commented on #112
Thanks! I look forward to it.

[2019-06-21 04:32] HarbourXbr opened #113 "How do I add the function name to my plug-in in C file"
# Description

Anything you'd like to add

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-06-22 11:32] christophschlosser commented on #113
I don't understand your question and there is zero effort in this issue.

[2019-06-22 11:32] #113 closed

[2019-06-22 12:14] christophschlosser commented on #106
Closing this because of a lack of information

[2019-06-22 12:14] #106 closed

[2019-06-22 13:30] #111 closed

[2019-06-22 13:49] christophschlosser commented on #111
Hi all,

I just finished working on this and triggered a new release.
The update should start rolling out in the next hour or so which should make the workarounds unnecessary.

Thank you for bringing it to my attention and providing me with the needed information and being helpful to each other! :)

[2019-06-22 13:54] platisd commented on #111
Awesome work :+1:

[2019-06-22 16:38] christophschlosser commented on #107
Hi @rms95 ,

Thanks to the huge customization it's pretty much impossible to have it for all types (especially `@brief` is complicated with smart text and `///<summary>` style comments).

Currently working:
 - param
 - tparam
 - return

Would it be fine for you to have it only for these commands?

[2019-06-22 16:54] christophschlosser commented on #112
Hi @rib2bit ,

I just remembered I already introduced this feature.
But the new settings interface for VS Code is hiding arrays.

Take a look here:
https://github.com/christophschlosser/doxdocgen/blob/master/README.md#config-options

The key you're looking for is: `doxdocgen.generic.order`.
You will have to edit this in the `settings.json` to something like this:
[code]

Please report back if this

[2019-06-22 17:09] HDHarry commented on #111
Very nice 👍 👍

[2019-06-22 18:01] rms95 commented on #107
Thanks for looking into this!

For the projects I work(ed) on the tags param, tparam and return probably cover 80+% of all tags, so having automatic indentation for those sure saves a lot of work :)

[2019-06-24 10:42] rib2bit commented on #112
@christophschlosser

Great! I got the result what I expected.
The following settings were perfect for my purpose.
[code]

Thank you for the information.

[2019-06-24 11:31] #112 closed

[2019-06-25 18:42] christophschlosser commented on #107
Now I have another idea on how to solve this.
I'd like to know from you which you would prefer:

1. Keep it nearly "maintenance-free" by having only the width option.
  +Already implemented
  +Less confusing for the user

2. Add an additional config parameter which can be inserted into certain templated strings
  +Easier to implement (even though it would now be additional effort)
  +More flexibil

[2019-06-25 19:09] rms95 commented on #107
Hi,

While I do see the use case for the 2nd option, I can't say I can recall a project using indentation on other places than directly after the tag. (Though I have not seen an extreme lot of projects using doxygen...)

That said, it does look like a more intuitive solution, as the template is the place where people are going to look to customize things.

Not exactly sure what you mean with the f

[2019-06-28 20:35] christophschlosser commented on #107
You asked for maximum flexibility, you get the most customization.

Current state of the implementation:

You can throw as many `{indent:<number>}` into the template string as you want.

[code]

turns into

[code]

The `{indent:<number>}` template can be inserted into any templabtable string.

The `<number>` indicates the character from the start of the template until where spaces are added.
So ev

[2019-06-28 21:56] #107 closed

[2019-06-28 22:23] christophschlosser commented on #107
Release 0.5.0 has been triggered and the update should start rolling out in the next hour.

Hope it meets your requirements, feel free to open another issue if you need anything else.

[2019-07-09 02:38] HaoQChen commented on #113
I think he wants:
[code]
with the `@name` tag. And I want it too~~~

Can you tell me how to do it

[2019-07-09 15:03] christophschlosser commented on #113
Create a new feature request.
This is not implemented yet

[2019-07-10 04:27] mwignall opened #118 "File Descriptions only work for .c files and not .cpp"
# Description

When triggering a file description to be generated, it only works when the file's extension is .c/.h

When trying the same for a .cpp/.hpp file, only the comment block top/bottom are generated, and not the "guts" of the description

[2019-07-10 13:25] christophschlosser commented on #118
Hi,

could you please provide a little bit more info:

- A gif of the problem

- A code snippet as the issue template requires which can be used to track down the problem

[2019-07-14 09:58] christophschlosser commented on #118
Hi @mwignall ,

any update? Will close this soon otherwise

[2019-07-18 13:18] ofthedove opened #119 "Parameters not generated when using custom trigger"
Using a non-default trigger sequence causes only the brief to be generated, and not parameters and return.

Ex. Using default trigger `/**`:
[code]

Using custom trigger:
[code]

I've tested the following custom triggers with the same results: `/*!` '/*/` `/*m`
I've also tested using the default first line with the same results.

Extension Version: 0.5.0
OS Version: Mac OS High Sierra 10.13.6
VSCo

[2019-07-19 15:33] #118 closed

[2019-07-24 02:55] illava opened #120 "Enhancement: Add an option to ignore certain keywords."
# Description

Enhancement:
Add an option to ignore certain keywords.
Hey your plugin is awesome.
I'm writing cuda code while it seems to fail some cuda specific decorator ahead of the function.
Can it be solved by filter them or sth. else.
Sincerely Illava.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-07-28 15:19] ChisholmKyle opened #121 "ignore "restrict" keyword in C function parameter pointer"
# Description

When the `restrict` keyword is used with a C pointer, it is assumed by the the documentation generator that `restrict` is the parameter name instead of the name that follows

## Code example

Given some function we want to comment:
[code]

### Expected result

[code]

### Actual result

[code]

[2019-07-28 15:28] ChisholmKyle opened #122 "Option to append [in] to param when function parameter is `const`"
# Description

If a function parameter has the keyword `const`, the generated documentation could have `[in]` appended to `param` to denote it as an input. This can be toggled as an optional feature.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-08-21 06:29] bzielinskib opened #123 "Function argument. Pointer to table is not generated."
# Description

When as function argument is pointer to table, the documentation generator not generate `@param`.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-08-21 12:59] LilMouse opened #124 "Getter and setter generation not working correctly"
# Description

With getSomeValue and setSomevalue the generated comment is not complete
I have adjusted the param and return template to
\param {param}
\return {type}

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-09-02 10:47] christophschlosser commented on #124
What does you `Brief Template` look like?

I have it set to `@brief {text}` and both code examples work for me.

[2019-09-06 22:24] pcdangio opened #125 "Blocks for variables always have extra line"
# Description
When a block is generated for a variable, an extra space is placed between the "brief" tag and the "Last Line" of the block.

Anything you'd like to add

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-09-09 17:10] SubhashDoshi opened #126 "New line after params?"
Not a bug just a question. I saw doxdocgen.generic.newLineAfterParams was removed. Is there a new way to achieve that?

[2019-09-16 12:48] LilMouse commented on #124
Mine was empty, setting it to `\brief {text}` worked! Thanks!

[2019-09-16 12:48] #124 closed

[2019-09-20 18:19] EternalPhane opened #127 "Feature suggest: multiline template"
# Description

Currently `\n` in template result in a naked new line. It would be better to have continuous indent and comment prefix before each line.

## Code example

[code]
[code]

### Expected result

[code]

### Actual result

[code]

[2019-09-23 20:24] ejcjason opened #128 "CUDA .cu file support"
# Description

Could we also use this extension with CUDA C++ files? They are basically just written in C++ language. I know that I can set the language mode to C, but some CUDA function supports will then get lost.

Thanks.

[2019-09-25 15:45] sslupsky opened #129 "Conflict with gitlens plugin"
# Description

The plugin appears to have a conflict with the gitlens plugin.  When this plugin and the gitlens plugin are enabled, all the gitlens blame annotations show "cannot determine recent change or authors".

[2019-09-25 15:51] sslupsky commented on #129
I am not sure this is a conflict.  Just ran some other tests and the same error appears when doxdocgen is disabled.

[2019-09-25 15:51] #129 closed

[2019-09-28 10:49] christophschlosser commented on #125
This plugin only works correctly with functions/methods.

Variables, classes, namespaces and so on are not supported correctly

[2019-09-28 10:49] #125 closed

[2019-09-28 10:51] christophschlosser commented on #126
With the custom tag it should be possible to achieve the same behaviour: https://github.com/christophschlosser/doxdocgen/issues/55

[2019-09-28 10:51] #126 closed

[2019-09-28 10:53] christophschlosser commented on #127
The comment prefix is up to you to do.
Indenting may be possible some time in the future.

[2019-10-05 12:59] #119 closed

[2019-10-05 13:45] #121 closed

[2019-10-05 15:03] #123 closed

[2019-10-07 09:31] corero2 opened #136 "Cannot see params & return value, for global functions, with 0.5.1 I had to use 0.5.0."
# Description

Cannot see params & return value, for global functions

## Code example

[code]

[2019-10-07 17:14] christophschlosser commented on #136
Hi,
I just tested it with the example you provided and it works for me on Linux with 1.37.1 and macOS with 1.38.1.
Could you please make a full application recording and also provide some more system stats.
(Operating system, VS Code version, ...)

[2019-10-07 20:28] corero2 commented on #136
Hi Christoph,

I am using VS Code v1.38.1, on Windows 10 Home machine, with a embedded STM32 C based project with gcc based compiler.
I am able to duplicate the problem, on my second machine, with Windows 10 Pro, and a Arduino based project source.
I attached a screenshot.

Sincerely,
Ovidiu A.     On Monday, October 7, 2019, 8:14:53 PM GMT+3, Christoph Schlosser <notifications@github.com> wrote:

[2019-10-08 08:54] blueskyZz commented on #136
I also met this issue.
I found it seems to be related to the code style.
Test 1:

static void ResetActionState( BOOL sendNAK ) {
...
}

Result 1:

/**
 * @brief
 *
 * @param sendNAK
 */

Test 2:

static void ResetActionState( BOOL sendNAK )
{
...
}

Result 2:

/**
 * @brief
 *
 */

[2019-10-08 16:16] christophschlosser commented on #136
Hi @corero2
unfortunately I can not see the attached screenshot.

@blueskyZz @Mirkbot Seems as this is a windows problem. Both code styles work for me on mac and linux.

Since I don't have a windows machine around this will be hard to diagnose. Do either of you know how to debug a VS Code extension or a npm application on windows?
What is `doxdocgen.generic.linesToGet` set to?

[2019-10-08 16:46] smfelsher commented on #136
I am experiencing the same issue on Manjaro Linux 5.3.0, VS Code 1.38.1, and doxdocgen 0.5.1.

If my function is this:

[code]
I get this:

[code]
If I have this format:

[code]
then, I get this:

[code]

[2019-10-08 16:59] christophschlosser commented on #136
@smfelsher thanks for the feedback!

Will later issue a quick update with a hint to do the rollback if problems arise.

[2019-10-08 18:26] corero2 commented on #136
Hello,

I think I found a problem in the changes that happen to 0.5.1.
On file cschlosser.doxdocgen-0.5.1\out\Lang\Cpp\CppParser.js, function getLogicalLine, finalSlice should be initialized to -1 since 0 is valid position in the line checked, and further on, all the checks for finalSlice against zero, should exclude zero, as value.

Sincerely,
Ovidiu A.     On Tuesday, October 8, 2019, 7:59:20 PM

[2019-10-08 19:56] christophschlosser commented on #136
@corero2 yes I came to the same conclusion and this is fixed in #137 .

Once the PR is merged I will immediately schedule a new release and publish it.

Thanks for all of your feedback @corero2 @blueskyZz @Mirkbot @smfelsher you guys helped a lot in making this a great bug fixing experience!

[2019-10-08 20:04] #136 closed

[2019-11-19 21:46] #127 closed

[2019-11-24 21:02] rodrigoA opened #141 "Files without includes don't trigger the autocomplete for file description"
# Description

1. Create a .h file and declare a class. Note: This file should not contain any include
2. Insert two new blank lines between class declaration and line 1
3. At the first line of the file type: /** and hit enter.
4. The result is an autocomplete doc for the Class, not for the file

Obs: **_version 0.5.2_**

## Code example

[code]

### Expected result

[code]

### Actual result

[co

[2019-11-24 22:11] klonq123 opened #142 "Bug when commenting macros (# is causing issues)"
# Description

There is a small problem when documenting a macro.

- The < #de > is removed from the macro definition
- No line break is inserted after the comment

See code example below and screenshots attached

![doxygen_bug](https://user-images.githubusercontent.com/23451157/69502457-d45cd080-0f0f-11ea-94ba-b479055b7c8b.png)
![doxygen_bug_result](https://user-images.githubusercontent.com/23451

[2019-11-25 20:02] christophschlosser commented on #141
This is actually the expected behavior because that's what you told the addon to do.
I.e. seach (by default 20) lines until you find something. I can see why this seems unexpected to you. Mabye I will have to deal with this in another way.

[2019-11-25 20:12] christophschlosser commented on #142
![bug-142](https://user-images.githubusercontent.com/2466365/69574250-fa45ac00-0fc7-11ea-9e45-0edfe45e90cf.gif)

Could you please help me out a bit here?

Your system specs and versions used would help a lot.

Can you reproduce it in an empty file or is there any other code around it?

[2019-11-26 11:23] klonq123 commented on #142
It seems only one particular file is affected other files in the same project don't seem to be affected.
Attached for your viewing pleasure
C:\Users\Mathieu\source\pvconnex\lib\gsm\include\Telit_GE910_Quad_V3.h

[2019-11-26 11:26] klonq123 commented on #142
Sorry, I can't attach header files.
Here is a WeTransfer link : https://we.tl/t-apHSNmAx4T

[2019-11-27 18:35] christophschlosser commented on #142
Thanks for your feedback.
Could you copy and paste the code in here please?

[2019-11-28 11:27] klonq123 commented on #142
`
#pragma once

#include <mbed.h>
#include "Logger.h"
#include "AT_Commands.h"

/**
 * @brief The interval at which to process the queue
 */
#define TELIT_TASK_INTERVAL 10.0f

/**
 * @brief The system is set to use verbose reporting
 */
#define SYSTEM_CMEE_LEVEL CMEE_VERBOSE

/**
 * @brief Command interface style
 */
#define SYSTEM_SELINT_SETTING SELINT_2

/**
 * @brief The system uses the enhance

[2019-11-30 10:43] christophschlosser commented on #142
Thanks for sharing, I will take a look at it.
PS: I reformatted your reply to properly display

[2019-12-09 09:58] chenshuqu opened #143 "Can't show more items after changing doxdocgen.generic.order"
# Description

i want to generate date and author on function comment, and add something like below, but i can't see anything happen.

## Code example

   // The order to use for the comment generation. Values can be used multiple times. Valid values are shown in default setting.
   "doxdocgen.generic.order": [
    "brief",
    "param",
    "return",
    "date",
    "author",
  ]

### Expected res

[2019-12-09 21:09] christophschlosser commented on #143
As you can see in the documentation only these values are valid for functions:
[code]

[2019-12-13 03:08] chenshuqu commented on #143
@christophschlosser  Thanks for your reply.

May i ask what it is the concern that constrains the values for the function?

It seems like without such a constrain, it would be more flexible.

[2019-12-16 17:45] christophschlosser commented on #143
There simply was no need before to support the tags which are usually only used in `file` comments for `functions` as well.

[2019-12-26 08:09] wind4gis opened #144 "could this extension used in other type, like js file?"
# Description

Anything you'd like to add

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2019-12-28 19:26] christophschlosser commented on #144
Yes, if the logic for these languages is implemented.

See

* https://github.com/christophschlosser/doxdocgen/blob/db82b7b00fbfb46de813ed8a0a51fbc3669ecf0d/src/CodeParserController.ts#L114

* https://github.com/christophschlosser/doxdocgen/tree/master/src/Common

Also https://github.com/christophschlosser/doxdocgen/issues?q=is%3Aopen+is%3Aissue+label%3A%22new+languge%22

[2019-12-28 19:26] #144 closed

[2020-01-08 08:50] lybertbox opened #145 "Pattern Not detected"
Hello,

when I write /**  "enter"

nothing is happening

Can you help me? I try to reinstall vscode i remove the .vscode directory and reinstall the plugins.

Nothing work

[2020-01-08 20:28] christophschlosser commented on #145
Can you please provide me with your system information (OS, VS Code version, plugin version, ...)?

[2020-01-09 07:53] lybertbox commented on #145
Good Morning,

I use windows 10 10.0.18363, vscode 1.41.1, and the last version of your
plugins.

Have a good day

Le mer. 8 janv. 2020 à 21:28, Christoph Schlosser <notifications@github.com>
a écrit :

[2020-01-09 08:07] christophschlosser commented on #145
Could you please provide a screenshot (Even better: a gif) of your editor where you try to use the addon?

[2020-01-09 08:32] lybertbox commented on #145
Please find the GIf

Le jeu. 9 janv. 2020 à 09:07, Christoph Schlosser <notifications@github.com>
a écrit :

[2020-01-09 08:48] ududsha commented on #145
Yes even for me it's not working:

VSCODE
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:57:51.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.0.0

The latest version of your plugin.

[2020-01-09 08:59] christophschlosser commented on #145
The addon only works for C++ and C. Not C#. See https://github.com/christophschlosser/doxdocgen/issues/73

This can be seen under the tags section of the addon: https://marketplace.visualstudio.com/items?itemName=cschlosser.doxdocgen

@ududsha if you're using C++ or C please open another issue

[2020-01-09 08:59] #145 closed

[2020-01-27 08:07] elupus commented on #122
Syntax highlighting seem to break down when [in] [out] tags are used for `@param` section

[2020-01-29 12:49] FredM67 opened #146 "Update comment..."
# Description

Add a way (context menu) to update an already existing comment, for example when renaming a function/parameter, adding/removing params to functions, …

[2020-02-07 16:39] joaompfe commented on #99
I came here from this [review](https://marketplace.visualstudio.com/items?itemName=cschlosser.doxdocgen&ssr=false#review-details) in Visual Studio marketplace and you @christophschlosser  said this plugin generate documentation. I have put comments but how do I generate the documentation files? Do I need to use Doxywizard? Thanks

[2020-02-08 10:09] cnjeffliu opened #147 "When will this plugin support golang"

[2020-02-09 14:20] christophschlosser commented on #147
Can you help implement it?

[2020-02-09 14:22] christophschlosser commented on #99
This extension only generates comments from code. Not files.
You will still have to run doxygen on your source code files as you did without the extension.

[2020-02-13 19:40] samkearney commented on #142
I also have this issue if it helps.

[2020-02-13 20:08] christophschlosser commented on #142
Thanks for your feedback. Right now I have a lot of other things to do and since it doesn't even affect all macros (and macros aren't really in the focus for documentation).

If you can help fix the bug that would be really helpful.

[2020-02-28 22:28] chriscc11 commented on #73
Is this something that is coming soon?  Would be a very useful addition to the tool.  Or do you know of another VSCode plugin that does this? I know there is an XML markup one out there but I don't want that format.

[2020-03-01 10:20] christophschlosser commented on #73
Can you help implement it?

[2020-03-03 08:15] eattardo commented on #146
I would be very nice to have such a feature. Changing manually the doxygen comment after renaming the function parameters is very tedious.

[2020-03-05 16:22] christophschlosser commented on #146
Can you help implementing it?

[2020-03-05 16:29] FredM67 commented on #146
Hi
Well I first should look at the implementation, how things are done...
I could probably / for sure help.

Fred

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
De : Christoph Schlosser <notifications@github.com>
Envoyé : jeudi 5 mars 2020 à 17:23
À : christophschlosser/doxdocgen
Cc : FredM67; Author
Objet : Re: [christophschlosser/doxdocgen] Update comm

[2020-03-05 16:35] christophschlosser commented on #146
Help is always welcome :)

[2020-03-15 08:48] #128 closed

[2020-03-15 19:08] neocliff commented on #142
I'm also having the same problem. My code looks like...

[code]

When I type "/**" followed by a RETURN I get...
[code]

If I can get some time I'll look at what might be causing the problem.

[2020-03-24 21:16] jankap opened #151 "Multiple templates"
# Description
It would be awesome to have different templates for either different files (for example I'd like to use different doxygen comments in source and header files respectively). This could be implemented by multiple trigger sequences like `/** [enter]` for auto guessing and `\*c [enter]` for c files and so on.

Is that a big effort? Unfortunately, my TS skills are very limited.

[2020-03-26 18:07] christophschlosser commented on #151
The information is available easily for the plugin.
Problem with the user experience is that there may be confusion of which setting to use and they can easily get out of sync which may cause unexpected behavior.

I think a primary and a secondary setting may be manageable. An arbitrary number of config styles is not possible (due to how VS Code handles settings).
One could the apply the primary o

[2020-03-27 15:42] jankap commented on #151
The only idea I have for unlimited templates is an additional json file where as many configs can be created as templates required. But I don't need that so far.
For me, a template for a header and a template for a sources file would be sufficient.

What do you mean with w/e? I think a different trigger is sufficient, i.e. `/**h` for a header and `/**c` for source file. You could make the triggers

[2020-04-21 02:12] tandasat commented on #31
Hi @christophschlosser @r12f , is there an issue about this annotation thing? If not, I will file a ticket.

This is not necessarily a Microsoft thing, for example, EDK2 (UEFI) coding standard requires something similar to be used. I will elaborate more on an appropriate ticket.

[2020-04-26 10:55] christophschlosser commented on #31
Hi @tandasat ,

IIRC @r12f never opened a different issue so feel free to do so.

[2020-05-07 11:59] giantmustache opened #152 "custom defines are picked up in the return results"
# Description

I have a function that starts with a custom define that I have defined in my compiler. The result is that the return functionality doesn't understand what the return type is.

In my case `MOCKABLE` is expanded to `virtual` and therefore the return type of this function is just `void`.

It would be nice if this plugin has a way to add defines or that it understands how the defines ar

[2020-05-19 04:56] raspberryjen opened #153 "asking about param type adding"
# Description

Anything you'd like to add
I'd like to add parameter value type in param template as following.
Now, I can see only "@param str"
I couldn't find any way to add...
/**
 * @brief
 *
 * @param **string** str
 */
void method(string str)

[2020-05-26 11:00] albert-github commented on #153
The doxygen syntax of the `\param` command  is (see https://www.doxygen.nl/manual/commands.html#cmdparam):

only for PHP theer is a exception:

[2020-05-26 19:59] FolkertVanK opened #155 "Support PHP"
# Description

I would like to use this tool also for PHP

[2020-05-27 00:50] raspberryjen commented on #153
Got it.
There's no way to add a data type in other cases.
Thanks!

[2020-05-27 00:50] #153 closed

[2020-05-27 09:26] christophschlosser commented on #155
See #74

[2020-05-27 09:26] #155 closed

[2020-06-03 20:17] DaanHuinink commented on #152
**If** this is considdered a problem then i can look at this. The probleem seems to be [here](https://github.com/christophschlosser/doxdocgen/blob/07b6f8998d3daa3ce3e4d56376f0b69cd6e382ec/src/Lang/Cpp/CppDocGen.ts#L264). It specifies that it will only omit the return type if it consists of a 'void' token and nothing else.

[2020-06-04 05:31] giantmustache commented on #152
To me this is an issue, because I have to remove that line every time from the generated template. If I could just tell the plugin what words to ignore, it might be easier. I can understand that you cannot just look for "if it contains anything like void", because then you would not be able to detect void* either.

[2020-06-18 15:17] Bondoo8 opened #156 "C# style xml documentation"
This extension is a great initiative and provides much needed capabilities for VS Code. Thanks.

I would like to use your extension to add xml (c# style) documentation to my code as illustrated on MarketPlace website. I have existing code from Visual Studio (Windows) that used xml documentation and I would like to keep the documentation approach consistent.

I see that C: Comment Prefix, First Lin

[2020-06-19 09:22] christophschlosser commented on #156
Hi,

take a look at
[code]

you probably want something like `"doxdocgen.generic.paramTemplate": "<param name=\"{param}\"</param> ",` for these values.

[2020-06-19 11:55] Bondoo8 commented on #156
Thanks very much for the direction.

In case it is of use to someone, these are the lines from the settings.json file that I have implemented to try and produce C# style comments.

Note that the trigger sequence doesn't appear to work. You must hit Enter after the ///.

    "doxdocgen.c.firstLine": "",
    "doxdocgen.c.lastLine": "/// <remarks></remarks>",
    "doxdocgen.c.commentPrefix": "/// ",

[2020-06-19 11:55] #156 closed

[2020-06-23 19:48] bcaddy opened #157 "How to replace `@` with `\` in all cases"
# Description

My project uses `\` instead of `@` to prefix commands. I can change this for a handful of specific commands but not in general. Note that `@copyright` doesn't follow the standard pattern.

## Code example

[code]

### Expected result

[code]
[code]

[2020-06-23 19:57] christophschlosser commented on #157
Use
[code]

[2020-06-23 20:16] bcaddy commented on #157
Got it. Thank you!

[2020-06-23 20:16] #157 closed

[2020-06-26 12:46] #142 closed

[2020-06-26 13:25] christophschlosser commented on #152
Hi @DaanHuinink and @giantmustache ,

hope you're still using the extension. With 0.7.0 (VS Code should update automatically) this feature will be integrated and make your life easier :)

[2020-06-26 13:25] #152 closed

[2020-06-26 13:26] christophschlosser commented on #142
Hi @klonq123 @neocliff  @samkearney ,

this will be fixed in 0.7.0 which I just triggered. The update should be visible in VS Code in ~15 minutes.
Hope you're still enjoying the extension and this makes your life a bit easier :)

[2020-06-26 14:42] samkearney commented on #142
@christophschlosser I am and it does! Thank you!!

[2020-06-29 08:50] HarveyHub opened #161 "could not generate correct file header annotation"
# Description

I wrote setting in `~/.config/Code/User/setting.json`

[code]
## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2020-07-01 02:16] HarveyHub commented on #161
I updated addon to lasted version 0.7.1, it could run without any errors when my header files having no template.

Here is my singleton template.
[code]

When I pressed `/** + enter`, it could not generate correct file header annotation, which like
[code]

My computer information as following
- Version: 1.46.1
- Commit: cd9ea6488829f560dc949a8b2fb789f3cdc05f5d
- Date: 2020-06-17T21:13:08.304Z (1 w

[2020-07-01 07:18] christophschlosser commented on #161
You're on line 1?

[2020-07-01 07:47] HarveyHub commented on #161
yes!

[2020-07-01 18:54] #161 closed

[2020-07-24 08:53] aeldemery opened #167 "Enhancement: Vala support"
# Vala Support

Since Vala syntax inherit form C#, I think it wouldn't be too difficult to add support for.
The open-source community would appreciate your work if you could address this.

Thanks

[2020-07-24 14:39] christophschlosser commented on #167
Currently there is not even C# support.
So if you want to contribute feel free to do so.

[2020-07-24 14:47] aeldemery commented on #167
Thanks for replying. I would like to do, if I know how. Unfortunately I don't speak Typescript.
But out of interest, how/where to start to add support for a new language?

[2020-07-26 23:06] aeldemery commented on #167
I think this could be closed. Thanks

[2020-07-26 23:06] #167 closed

[2020-07-31 15:57] ingenieriaam opened #168 "VHDL Support"
# Description

Just as the extension is intended to be used for C and Cpp codes, it is very close to being useful for VHDL codes with only a few small changes at the user level.

## Code example

### Expected result
in C code, the extension use this:

[code]
in VHDL it would be like this

[code]
I think it would be enough to do a class called vhdl, but I am not an expert. Is it possible to do this

[2020-08-01 09:42] christophschlosser commented on #168
You will have to implement a parser for vhdl.
It is possible but I'm not an expert in the VHDL language at all.

[2020-08-27 18:46] christophschlosser commented on #120
Hi @illava ,

This should be part of 0.7.0
Did you get a chance to test it yet?

[2020-09-03 14:49] lokimon opened #169 "Feature Suggest: Support for arbitrary tags"
# Description

Our Customer requires addtional tags for method names.
Would it be possible to add any tag to the doxdocgen.generic.order and just have it put out the tag?

For instance
[code]

Would output something like
[code]

[2020-09-17 21:31] arttet opened #170 "Incorrect parameter name of template"
# Description

Incorrect parameter name of template.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2020-09-17 21:45] arttet commented on #170
## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2020-09-18 10:31] cschlosser commented on #170
For your problem with the wrong return type please create a new issue

[2020-09-18 10:38] arttet opened #171 "Wrong return type"
# Description

Wrong return type.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2020-10-03 14:13] cschlosser commented on #171
This is actually desired behavior.

[2020-10-03 14:13] #171 closed

[2020-10-03 14:50] #170 closed

[2020-10-03 14:53] #120 closed

[2020-10-03 15:15] #169 closed

[2020-10-03 16:52] cschlosser commented on #110
We could parse actual env vars but I couldn't find a way to access the VS Code internal ones.
Would this be fine as well?

[2020-10-03 17:05] dkuschmierz commented on #110
Yes sure, actually this is an environment-variable from system...

[2020-10-03 17:43] #110 closed

[2020-10-04 06:37] mcakircali opened #177 "Error: Cannot find module 'env-var'"
# Description

#176: change of env to env-var causes failure to load. Is "env-var" now a dependency?

### Log

[code]

[2020-10-04 09:31] cschlosser commented on #177
Yes it is to support #110 .
Have to investigate why it isn't loading.

[2020-10-04 09:36] cschlosser commented on #177
I did a test prior to the release where it was loading just fine. Still have the .vsix around. Not sure why the 0.8.0 is now broken.
Can reproduce it though

[2020-10-04 09:52] cschlosser commented on #177
For some reason the node modules are not packaged.

"Old" extension from my local build yesterday
[code]

VS Code marketplace extension:
[code]

[2020-10-04 10:41] cschlosser commented on #177
It seems as this is related to vsce.

Could you try it with the 0.8.2 version and give feedback if it works for you now as well please?

[2020-10-04 11:31] cschlosser commented on #177
This is the bug(fix): https://github.com/microsoft/vscode-vsce/pull/495

[2020-10-04 11:38] #177 closed

[2020-10-04 11:49] cschlosser commented on #177
Release 1.0.0 is published and should be working.
Thanks for getting this to my attention so early :)

[2020-10-05 11:17] mcakircali commented on #177
I can confirm that it works. Great tool. I thank you!

[2020-10-05 11:32] mcakircali opened #181 "The empty line"
# Description

e.g., the functions without parameters has a redundant ```@empty``` line after ```@brief```.

### Expected result

[code]

### Actual result

[code]

# Feature Request

Is it possible drop the ```@empty``` from the order for such cases?

[2020-10-08 08:27] Archiatrus opened #182 "How to set doxdocgen.generic.authorEmail to "git config --get user.email""
Basically title. We use one common checked in vscode settings file.
I found `${env:}` but this is not an environment variable.
I also found `${command:}` but I have no idea what to write as commandId.

Any idea if this is possible at all?

[2020-10-08 08:43] Archiatrus commented on #182
It seems `${command:}` [will never work](https://github.com/microsoft/vscode/issues/102414) within settings :( Then I assume it has to be an option within doxdocgen.

Feature request:

- option to substitute `{author}` with `git config --get user.name`
- option to substitute `{email}` with `git config --get user.email`

[2020-10-09 16:35] cschlosser commented on #182
Should in theory be possible with `child_process`.
Would have to be implemented carefully though because this may lead to long running operations (e.g. git for windows is often quite slow) which in turn would lead to empty messages or bad response times of the add-on.

[2020-10-09 18:35] cschlosser commented on #181
Probably. Will have to look into why the empty line is there

[2020-10-10 19:04] #141 closed

[2020-10-13 13:17] GiampietroIT opened #185 "Add templete"
# Description

Hello, I want to add a new template.

## Code example

the doxygen generated is show in the next section

### Expected result

/*====================================================================================
 *	Method      : 	TFTRedraw
 */
/*!
 *	@b Description : @par
 *		Check if data handle by current widget need to be redraw.
 *
 *	@param SelLayout :		Selected layout.
 * 	@

[2020-10-13 14:46] cschlosser commented on #185
Please format your code and provide an example method where you expect the exact result

[2020-10-15 20:16] cschlosser opened #187 "Update dependencies"
# Description

Update nodes, VS Code engine and typescript to recent versions.

[2020-10-19 16:38] #182 closed

[2020-11-10 14:54] bcaddy commented on #122
I'm also having this issue with syntax highlighting. As soon as I add `[in]`, `[out]`, or `[in,out]` all the syntax highlighting vanishes

[2020-11-10 18:36] cschlosser commented on #122
@bcaddy that is not an issue of this addon.
This is a problem with https://github.com/microsoft/vscode-cpptools syntax highlighting for Doxygen.

[2020-11-11 13:51] bcaddy commented on #122
Thanks for letting me know!

[2020-11-24 19:04] TomN7 opened #191 "Option to template filename in file.customTag"
# Description

I would like to be able to template the file name in the file.customTag option.

I have set up the custom tag to include several section headers, as an outline for what I need to document per file. The first parameter of the section header needs to be a unique identifier for the heading (https://www.doxygen.nl/manual/commands.html#cmdsection), so I have taken to prefixing my section

[2020-12-09 04:26] Avik-B opened #192 "Does not work properly with UE4 macros"
# Description

I am using this with unreal engine 4 and if i put a macro before the function then it should ignore the macro and generate the doc.

![image](https://user-images.githubusercontent.com/2894306/101584945-bff95200-3a04-11eb-800b-a75d2243a19b.png)

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2020-12-13 17:01] cschlosser commented on #192
This would probably be possible by adding a regex filter option.
There are already keywords you can remove from the input that will be processed but I guess this won't suffice for this use case.

[2020-12-14 13:41] magusikrak opened #193 "How to add own content in the template?"
Like I want  "@subject" and "@tutor" to appear alongside the others. How do I do that?

[2020-12-15 12:26] cschlosser commented on #193
[code]

So
[code]

fo your

[2020-12-16 05:14] magusikrak commented on #193
I did exactly as you asked. But custom tags only appear anywhere except the top of the file.
I want those tags with the  ``` "doxdocgen.file.fileOrder": [ ], ``` . Insted those appear with the generic order elements like parameters, etc. <br>
I want the tags to appear like this.
![image](https://user-images.githubusercontent.com/51502114/102307957-abc9cd80-3f8d-11eb-8afc-89c12b3527f5.png)
<br>
Not

[2020-12-16 10:58] cschlosser commented on #193
What is the content of your `"doxdocgen.file.fileOrder"`?
Could you maybe even post all your doxdocgen settings?

[2020-12-16 11:32] #193 closed

[2020-12-16 11:34] magusikrak commented on #193
I had to add "custom" in <br>
[code]
and add my tags in ``` "doxdocgen.file.customTag": ["@subject","@tutor"] ``` in the same pattern as you mentioned. :)

[2020-12-23 04:13] magusikrak opened #194 "Doxdocgen not working."
I have a fresh install of vscode and doxdocgen isn't working. In the settings, the trigger is ```/**```
![Trigger screenshot](https://user-images.githubusercontent.com/51502114/102958520-2bfbb000-4505-11eb-9783-2eb6f20d9e96.png).
<br>
But nothing is being triggered. I've cleared settings.json file and still nothing. Other extensions' suggestions are working.
![Vscode screenshot](https://user-image

[2020-12-23 10:58] wordhazard opened #195 "support the doxygen comment after the item to document"
# Description

Our group likes to use the doxygen style where the doxygen comment comes after the item you are documenting.  I.e., where you make a doxycomment afterward with a /**< opening comment, with the '<' indicating that the comment applies to the item before the comment rather than the item after it.

Would be awesome if the plugin supported this with some config parameter, for example.

#

[2020-12-23 11:18] wordhazard commented on #195
Actually it looks like I can do what I wanted with existing params.

[2020-12-23 11:18] #195 closed

[2020-12-24 11:16] #194 closed

[2020-12-24 11:20] magusikrak opened #196 "Need support for PHP"

[2020-12-24 13:17] cschlosser commented on #196
See #74

[2020-12-24 13:17] #196 closed

[2021-01-03 21:11] coreydaley opened #197 "Does not autofill @class which prevents Doxygen from showing the @brief for the class"
# Description

DoxDocGen should automatically add the @class into the file header for cpp and fill it with the main class for that file.
When @class is not present, the @brief is not included when running Doxygen.

[2021-01-04 19:33] cschlosser commented on #197
Filling the name of the main class is probably not trivial.
Adding the `@class` attribute should be fairly easy for C++.

Probably could be solved with #191

Do you have a file and config to reproduce this? It works for me just fine without the `@class`

[2021-01-05 13:25] coreydaley commented on #197
I have a partial pull request, just having an issue getting the class name (as you mentioned).
I don't think it's getting parsed into the list of tokens.

[2021-01-05 17:16] cschlosser commented on #197
No it's not.
Since the parser is not really context aware but instead token/string based and doesn't really know about C/C++ on a language level like through a compilation database.
With macros, namespaces and all the other shenanigans it would be nearly impossible to determine the class name for a file. There are also quite a few additional unsolved questions e.g.: What if there are several class

[2021-01-05 22:01] sidprice opened #198 "New user question"
I have the extension installed in VSCode and I am beginning to use it to embed my docs in the code.

What I do not see how to do is to actually generate the docs from my source. DoxyGen is installed and if I use the UI Wizard to generate the docs or use the command line it runs fine. However, I have added settings in VSCode for "author", etc., but when running DoxyGen from the command prompt these

[2021-01-05 22:55] #198 closed

[2021-01-07 02:06] fszhaoholo opened #199 "HOW could /// instead of /** ?"
1.
/**
 * @brief Construct a new Weight Data Node Parser object
 *
 * @param file_path
 * @param format
 */

2.
 ///
 /// @brief Construct a new Weight Data Node Parser object
 ///
 /// @param file_path
 /// @param format
 ///

I wanner the second one, how could I do it ?

[2021-01-07 06:41] #199 closed

[2021-01-07 06:41] fszhaoholo commented on #199
3

[2021-01-18 22:14] RomanLeonB opened #200 "SystemVerilog Language Support"
Which files must be changed for SystemVerilog language support (only in src/* ?).  Can you give me advice?

[2021-01-19 20:29] cschlosser commented on #200
Implement the `src/Common` interfaces in `src/Lang/SystemVerilog`.

Add your new implementation to https://github.com/cschlosser/doxdocgen/blob/c703c6a053e113e1bac2de8991199f13e5d007d9/src/CodeParserController.ts#L117

[2021-01-21 10:30] Hadatko opened #201 "Use @retval instead of @return"
# Description

Based on https://www.doxygen.nl/manual/commands.html i would expect that when
  "doxdocgen.generic.boolReturnsTrueFalse": true is set, then output will contains @reval true .. @retval false ... instead of @return true ... @return false ...

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2021-01-21 18:08] cschlosser commented on #201
Not really exclusive to the boolean option with the fact that `"doxdocgen.generic.returnTemplate"` can insert a type.
Since `"doxdocgen.generic.returnTemplate"` is also an existing option and to not break peoples current config I'd go with a new option like `"doxdocgen.generic.useRetVal"`.

[2021-01-21 19:04] BillDenton opened #202 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `doxdocgen`
- Extension Version: `1.1.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2021-01-22 07:57] Hadatko commented on #201
Sorry i didn't get it much.
in case of these settings:
"doxdocgen.generic.returnTemplate": "@return {type} "
// If this is enabled a bool return value will be split into true and false return param.
"doxdocgen.generic.boolReturnsTrueFalse": true,

i would expect @retval <retvalOption> for boolean function and @return <type> for others functions.
Definitly i don't want replace return with retval in

[2021-01-22 07:59] Hadatko commented on #125
I have this behavior also with functions.

[2021-01-22 08:09] Hadatko opened #203 "Put newline between different comments type."
# Description

Hi, is there option, or do you think you can implement new option which will add newline between different comment type?

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2021-01-22 11:11] cschlosser commented on #203
Use
[code]

[2021-01-22 11:11] #203 closed

[2021-01-22 11:12] cschlosser commented on #202
Can you provide more detail where/when this is happening?

[2021-01-22 14:19] Hadatko commented on #203
Great. Thank you

[2021-02-01 03:34] GitYun opened #204 "Generic: Order set can not expand author and date, etc."
# Description
**Generic: Order set can not expand author and date, etc.**

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2021-02-01 08:39] NewtMa opened #205 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `doxdocgen`
- Extension Version: `1.1.0`
- OS Version: `Linux x64 5.4.0-65-generic`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2021-02-01 16:41] cschlosser commented on #204
Please provide example code and all your settings for doxdocgen

[2021-02-01 16:42] cschlosser commented on #205
Need more info.
See #202

[2021-02-01 16:42] #205 closed

[2021-02-07 01:08] GitYun commented on #204
### Example code
[code]
---

### My setting for doxdocgen as follow

[code]

[2021-02-23 09:01] faku99 opened #206 "File author template doesn't implement alignment option"
# Description

I came across the following bug when setting up the extension : the `{indent:n}` parameter is not taken into account in the author tag configuration.

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2021-03-18 08:42] francisxie opened #207 "The function pointer type could not get an argument list"
# Description

The function pointer type could not get an argument list

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2021-03-19 12:42] rw3iss opened #208 "Should be a way to use it without needing "editor.autoClosingBrackets": "always","
# Description
Seems the plugin doesn't work unless this VSCode setting is enabled:
    "editor.autoClosingBrackets": "always",
(or at least not "never").

It would be nice to use it without requiring closing brackets...

[2021-03-26 06:57] HO-COOH commented on #181
@mcakircali Add this setting in your `settings.json` (delete the `empty` tag in the default order)
[code]
And it should work as you expected. @cschlosser  This can be closed.

[2021-03-26 22:07] NikLeberg opened #210 "@return where it shouldn't"
# Description

If I disable the type for returns with `"doxdocgen.generic.includeTypeAtReturn": false` a @return is added where it shouldn't.
(I have Version 1.1.0)

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2021-03-26 22:30] cschlosser commented on #208
Thanks for bringing this to my attention.
That's actually quite weird as when VS Code introduced that feature for C++ it broke the extension and I had to write a workaround so it doesn't mess with the generated comment block.
Maybe there has to be another workaround now when it's set to `never`.

[2021-04-18 16:08] #181 closed

[2021-04-30 10:46] cschlosser commented on #210
Should be fixed in 1.2.1

[2021-04-30 10:46] #210 closed

[2021-05-01 02:52] HO-COOH commented on #204
![genericTags](https://user-images.githubusercontent.com/42881734/116768688-15dd9d80-aa6b-11eb-905c-a67f42eedbc3.gif)

@GitYun This should get fixed after merge. Note, remove this part in your setting
[code]
Otherwise those same tags will be included twice

[2021-05-03 23:22] HO-COOH opened #218 "Incorrect assertion parameter order in tests"
# Description

As I mentioned in #214 , the order of the assertion calls are incorrect in likely all the tests. Should be `strictEqual(actual, expected)` instead of `strictEqual(expected, actual)`. Better put this issue on a roadmap/projects for future as a reference

## Code example

An example from `test/Config.test.ts`
[code]

[2021-05-06 08:21] GitYun commented on #204
ok，i get it, thanks

[2021-05-06 08:21] #204 closed

[2021-05-08 19:02] #218 closed

[2021-05-12 06:02] NewtMa opened #224 "[feature request] add "@" before all doxygen command snippets' names"
# Description

First of all, thank you for continuous effort to make us developers' life easier.

I'm using C++ and C++ extension has its own snippets, and the doxygen command snippets could mixed up.

The picture below is an example.

![image](https://user-images.githubusercontent.com/48610536/117925697-2c68dc00-b32a-11eb-9784-3c26b5669a3a.png)

I would suggest to add a "@" before all doxygen com

[2021-05-13 22:42] jmfacil opened #225 "Use relative path of the file instead of the file name."
# Description

Hi there,

I would like to use in the relative path of the file instead of just the name. When using the reserved word `{name}` I just get the file name.

### Expected result

[code]

### Actual result

[code]

### Extra questions

What are all the reserved words there are i.e. `{name}, {author}, {email} .... ` a quick accessible list would be cool if it is not there already :).

Th

[2021-05-14 11:57] cschlosser commented on #225
The available template replacement's are documented for each setting where they can be used.

[2021-05-14 16:11] bob2oneil opened #226 "Fill in of Brief title content"
Is there any particular setting the enables filling in of the @brief content?

[2021-05-14 16:14] #191 closed

[2021-05-14 16:15] cschlosser commented on #226
Are you referring to this: https://github.com/cschlosser/doxdocgen#smart-text ?

[2021-05-14 16:29] hideogump commented on #226
I am referring to the @brief Doxygen field itself.  Using an IDE such as QtCreator, this content gets filled in automatically.

For example:

/**
 * @brief config::temp
 * @param arg
 */
void config::temp(const char* arg)
{

}

[2021-05-14 16:32] cschlosser commented on #226
We can think about some customization that will be put into the `@brief` command.

Please use markdown code tags ``` so random user's aren't notified by you `@mentioning` them.

[2021-05-14 17:53] bob2oneil commented on #226
Thanks.

[2021-05-14 17:53] #226 closed

[2021-05-15 06:30] HO-COOH commented on #143
@chenshuqu Since `1.2.2`, most tags are available in both functions and file comments. Now you can use `date` and `author` in `generic. order`

@cschlosser This can be closed.

[2021-05-15 11:17] #143 closed

[2021-05-16 14:00] HO-COOH commented on #224
After #229 is merged, doxygen command should no longer appearing in normal code. But it could still appear in strings where `*` exists, due to the limit of parser. (But I think it's reasonably close enough 😄 )

Also, you can enable the settings to add a `\` as prefix for better distinguishability.
![](https://user-images.githubusercontent.com/42881734/118384718-136a6e80-b63b-11eb-8ce3-8c8ee7485a93

[2021-05-17 07:51] NewtMa commented on #224
@HO-COOH Hi, which setting are you talking about?

[2021-05-17 13:21] #224 closed

[2021-05-17 13:25] HO-COOH commented on #224
There ~~will be~~ is `"doxdocgen.generic.commandSuggestionAddPrefix": true`

[2021-05-29 10:20] #206 closed

[2021-05-30 11:09] Anisha123-hub opened #238 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `doxdocgen`
- Extension Version: `1.3.2`
- OS Version: `Windows_NT x64 6.2.9200`
- VS Code version: `1.56.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-05-30 16:52] cschlosser commented on #238
Sorry, this is missing all the information.

[2021-06-01 17:31] cschlosser commented on #238
Feel free to reopen if you have more information

[2021-06-01 17:31] #238 closed

[2021-06-11 14:41] mchernov-intel opened #239 "Update README"
I couldn't realize how to use it and didn't found any info about this.

[2021-06-11 21:39] cschlosser commented on #239
What exactly is causing a problem for you?
Are you having a hard time to install the plugin or can I help you with something else?

[2021-06-13 16:45] #197 closed

[2021-06-21 02:44] wangwenqiangGitHub opened #241 "Extensive customization , how can I trigger ?"
# Description
how can i trigger "///"
Anything you'd like to add

## Code example

[code]

### Expected result

[code]

### Actual result

[code]

[2021-06-21 15:24] cschlosser commented on #241
Set `"doxdocgen.c.triggerSequence"` to `///`.
It defaults to `"/**"`.

[2021-06-22 10:47] KryvosheyaIvan opened #242 "does not work in vs code"
**Describe the bug**
A clear and concise description of what the bug is.
i click /** then tab and nothing happens.
What is the problem could be?
**Code example**

[code]

**Expected result**

[code]

**Actual result**

[code]

**Screencaps**
If applicable, add screencaps to help explain your problem.

**Your System:**
 - OS: [Windows, macOS, Linux]
 - VS Code Version [e.g. 1.55]
 - Doxdocgen Code

[2021-06-22 10:52] #242 closed

[2021-06-22 10:52] KryvosheyaIvan commented on #242
i am stupid guy))enter must be pushed instead

[2021-06-22 23:41] TallKoala opened #243 "Question About Custom File Tag Syntax"
I'm trying to figure out the syntax required to generate two more custom file tags named input and output, but I can't seem to make it work. This is what I have tried. I can't figure out what I'm missing.

"doxdocgen.generic.customTags":["Input: {input},", "Output: {output}"],
    "doxdocgen.file.fileOrder": [
        "file",
        "author",
        "date",
        "brief",
        "input",

[2021-06-23 23:33] cschlosser commented on #243
Please take a close look at the documentation:

1. Can template `{year}`, `{date}`, `{author}`, `{email}` and `{file}`
2. You have to specify the prefix.

You can try it with this configuration but note from 1. that `input` and `output` won't be magically replaced.

[code]

[2021-06-23 23:40] TallKoala commented on #243
Got it! I actually don't need to template Input and Output since they will change from file to file. It's working now! Thanks for the help, and making such a rad extension.

[2021-06-23 23:40] #243 closed

[2021-07-01 05:50] gha3mi opened #244 "Support Fortran"

[2021-07-01 21:40] hitchcock9307 opened #245 ""Move Line" Interaction"
# Description

When moving a line with (Alt+Up/DownArrow) the "Move Line" command if you attempt to go past a multi-line comment opening it causes an interesting interaction. If you disable the extension or operate in a non-c mode this interaction does not occur.

## Code example
[code]

### Expected result

[code]

### Actual result

[code]

[2021-07-08 03:06] ChenYCL commented on #241
doxdocgen.c.triggerSequence": "/**" , not working on *.tsx

[2021-07-08 15:20] cschlosser commented on #241
Thank you for the video.
This addon currently only supports C and C++.
If the language you're using is not listed [here](https://github.com/cschlosser/doxdocgen/issues?q=is%3Aissue+label%3A%22new+languge%22+) feel free to create a new issue for it.

Contributions are always welcome and you can provide implementation for a language that is missing currently.

[2021-07-08 15:20] #241 closed

[2021-07-08 23:17] ricardo85x opened #246 "Support Solidity"

[2021-07-20 01:19] LostInCompilation opened #247 "\param and \return not generated for method"
When creating a doxygen comment for the method in a header file, param and return wont get generated for Foo(). However generations works on the above static function. and in the defining cpp file.
All settings for the plugin are on default, tried reinstalling it.
What should I do?

[code]

[2021-07-22 17:22] cschlosser commented on #247
Hi @LostInCompilation ,

I'm sorry that you're experiencing these issues.

Could you please provide a screencap of what you're doing?

Currently I can not reproduce your problem:

https://user-images.githubusercontent.com/2466365/126681731-dfc8d623-852c-4b03-a055-5f0cd1e3949e.mov

[2021-07-22 23:08] LostInCompilation commented on #247
Thanks for testing. Well now it is working for me too after two days of normal development...
Do you request the function signature somehow from VisualStudio/IntelliSense for generating the comments? Maybe my IntelliSense was broken because I'm not able to reproduce the error now.

[2021-07-23 13:46] cschlosser commented on #247
No, the file is parsed as text.
The addon not working is ususally the case when VSCode detects the wrong language of the file but working on one method and not the other is very strange.

I will close this for now, feel free to open a new issue if you experience any further issues.

[2021-07-23 13:46] #247 closed

[2021-07-25 15:51] dr3adl0rd commented on #239
There's no information about which languages are supported anywhere, and not everyone knows it's only C and C++, so putting that little detail in the Readme would actually save many people trial and error!

[2021-07-28 11:56] PowerfulCat opened #248 "Support comment for a function which after macro expansion"
[code]
I want use the macro function `xheader` to generate the redundant code, but it hint nothing when i put `func_a(` in vscode.

[2021-07-31 20:15] cschlosser commented on #239
Sorry, I have to disagree with you:

<img width="318" alt="Bildschirmfoto 2021-07-31 um 22 10 47" src="https://user-images.githubusercontent.com/2466365/127751400-0e85f630-bdda-47dc-af75-a776fd2ab9dc.png">
<img width="1036" alt="Bildschirmfoto 2021-07-31 um 22 11 05" src="https://user-images.githubusercontent.com/2466365/127751401-a5bb8ca6-9d97-4184-b936-7333201295bb.png">

It's prominently displa

[2021-07-31 20:15] #239 closed

[2021-07-31 20:17] cschlosser commented on #248
Thank you for your suggestion.
This will be possible if/once the plugin supports a language server for parsing instead of a custom lexer which is not going to happen soon.

[2021-07-31 20:55] dr3adl0rd commented on #239
Not sure why is it a problem to add C and C++ to the title in the marketplace? Here's a screenshot of the addon from the marketplace, where there's no info about C or C++ anywhere.
![Screenshot 2021-07-31 215117](https://user-images.githubusercontent.com/12574646/127752198-d7e44e45-fef3-46aa-b83e-e2e5f48d1d22.png)

[2021-08-01 13:43] cschlosser commented on #239
If you have a request for this addon please open an issue and don't hijack other peoples issues.
I would also like to point out to you that your (passive) aggressive behavior will no longer be tolerated.

If you're unhappy with how VSCode presents information from the marketplace please file a feature request with Microsoft on their repository.

[2021-08-01 18:59] dr3adl0rd commented on #239
I was only suggesting a name change to make it clearer for people to know what it does. I have no idea why you are so aggressive - I have no interest in hijacking anything, only wanted to help, but I guess I will just ignore you instead, I guess you just can't take it when people are openly pointing out your mistakes.
Goodbye and good luck.

[2021-08-01 20:40] cschlosser commented on #239
This issue was from a user who couldn't make the addon work and you suggest changing the name of the addon.

For me this is unrelated and instead of following my request to open a dedicated issue you're assuming the victim role and want to twist it to make it look like it's something personal now.
The closed issues in this repository also speak a different language than what you're suggesting.

[2021-08-03 09:09] moonlightsh opened #249 "Does not auto complete params when gcc __attribute__() exists."
**Describe the bug**
Does not auto complete params when gcc __attribute__() exists.

**Code example**

[code]

**Expected result**

[code]

**Actual result**

[code]

**Your System:**
 - OS: [Windows]
 - VS Code Version 1.58.2
 - Doxdocgen Code Version [e.g. 1.3.2]

[2021-08-07 16:29] cschlosser commented on #249
Hi @moonlightsh,

thank you for reaching out. I don't have a satisfying solution for you yet but could your try using `"doxdocgen.generic.filteredKeywords": []`?

Something along the lines of
[code]
may work for your case in the meantime.

[2021-08-17 16:46] xyz-99-thinker opened #251 "未知-未捕获的错误"
**Describe the bug**
Error: spawn git ENOENT at Process.ChildProcess._handle.onexit (internal/child_process.js:269:19) at onErrorNT (internal/child_process.js:465:16) at processTicksAndRejections (internal/process/task_queues.js:80:21)
**Screencaps**
![image](https://user-images.githubusercontent.com/58734389/129766719-a6d91c37-d842-46d6-a5d2-44e9f42af970.png)

**Your System:**
 - OS:windows10
 -

[2021-08-17 17:14] cschlosser commented on #251
Hi,
can you please provide additional information in english?
I don't see how this relates to this addon from the screenshot and I can't read Chinese

[2021-08-20 13:44] xyz-99-thinker commented on #251
When I installed the plug-in this message popped up, so far except for the occurrence of lag, the plug-in can be used normally, and I do not know what caused this
<img width="679" alt="屏幕截图 2021-08-20 214349" src="https://user-images.githubusercontent.com/58734389/130242712-4da15252-81c0-4fc1-a8c3-1474c9f88b27.png">

[2021-08-21 22:25] cschlosser commented on #251
No problem, don't worry :)

Thank you. Do you have git installed on your system?

[2021-08-23 02:16] Jcc99 opened #252 "Auto-complete can't work"
**Describe the bug**
when i want to edit a doxygen command like @brief . i type @b , it can't list the list of auto-complete.

**Screencaps**
![image](https://user-images.githubusercontent.com/51371491/130380855-7b1b979b-4788-4954-8899-492cddeb97c2.png)

**Your System:**
 - OS: Windows10
 - VS Code Version：1.59.1
 - Doxdocgen Code Version：1.31.2

[2021-08-23 07:22] #251 closed

[2021-08-23 07:26] xyz-99-thinker commented on #251
No, I should not have installed it.

[2021-08-23 07:27] xyz-99-thinker commented on #251
No, I should not have installed it.

[2021-08-23 17:27] cschlosser commented on #251
Ok. thank you for responding.
Then it's probably because the addon tried to detect your `author` and `email` from git.

[2021-08-23 17:33] cschlosser commented on #252
Hi @Jcc99 ,

could you please take a look at this comment:
https://github.com/cschlosser/doxdocgen/pull/229#issue-645255775

Especially:

It seems like VS Code doesn't like `@` in the completion list so `\` should be used instead.
Could you please check if it works for you when you're using `\`?

[2021-08-24 07:21] xyz-99-thinker commented on #251
OK，You're right(I think so...but I don`t want to install it).
Thanks.

[2021-08-26 15:46] gamersalpha opened #253 "PHP not working nothing works"
Hello ALl,
so i install the module in visual studio code, but when i try to add some info for my php code i got nothing

how to make it works with php please

[2021-08-26 16:03] #253 closed, assigned to nobody

[2021-09-01 09:53] alan-gu commented on #14
Hi.
I'm on v1.3.2.
When I type /** + enter above a struct written in C, I get
[code]
while I expect the members of the struct.
It seems this issue should have solved the problem.
An example:
[code]

[2021-09-06 15:42] cschlosser commented on #14
Could you please open a bug?
Feel free to reference this issue but I don't think the parser supports anything besides functions yet.
This issue was about doxdocgen not triggering at all.
Now it prints the most basic information, i.e. a `brief` tag and your configured comment prefixes.

[2021-09-09 03:31] alan-gu opened #254 "Please add support to generate comment template for structure in C"
This issue comes from the last comments on https://github.com/cschlosser/doxdocgen/issues/14.

Something like
[code]
will be fine.

Thanks.

[2021-09-23 06:25] FredM67 opened #255 "Auto-complete missing "defgroup", "ingroup", "addtogroup" and "weakgroup""
In the auto-complete list, I cannot find the tags "defgroup", "ingroup", "addtogroup" and "weakgroup".
Please add them to the list.

[2021-10-27 15:02] lordneeko opened #256 "Please add support for usage in vscode.dev"
**Is your feature request related to a problem? Please describe.**
DoxyGen cannot be installed within the browser instance of VS Code

**Describe the solution you'd like**
Update extension to work within the browser sandbox.

**Describe alternatives you've considered**

**Additional context**
Information on modifying extensions to work within the browser sandbox.
https://code.visualstudio.com/docs

[2021-10-29 18:40] NobreZ opened #258 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `doxdocgen`
- Extension Version: `1.3.2`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-29 18:40] #258 closed

[2021-11-17 11:41] ousugo commented on #252
This function can't work in my computer too.

I had enable doxdocgen.generic.commandSuggestionAddPrefix to `true`，but don't have any effect.
![auto-complete can't work](https://user-images.githubusercontent.com/43401755/142194127-5783f424-0ea5-4717-94e7-fa8511cc937a.gif)

Your System:

OS: Windows11(22000.318)
VS Code Version：1.62.2
Doxdocgen Code Version：1.3.2

[2021-11-22 09:16] KUGA2 opened #259 "Support //! and \param comments"
Our doxygen style is:

1. CPP comment style
2. doxygen marker: ! -> //!
3. keywords with \ not with @
4. Empty last line (when doxygen commit is more then 1 line): //!
5. Same for c, cpp, h, hpp ... files
6. no \brief (aka AUTOBRIEF)

Example:
//! Creates a thread.
//!
//! This function creates a thread.
//!
//! \note Consult \ref C_Threads_Priorities for choosing an appropriate priority
//!

[2021-11-22 17:48] cschlosser commented on #259
Hi @KUGA2 ,

Please try with these configuration settings:

[code]

This should deal with 2.-6 for your Doxygen style.

The trigger sequence can be configured with this setting:
[code]
set it to whatever you want, e.g. the default or the suggested `///` or `//!` if you're more comfortable with that.

Please get back to me if this resolved (some) of your question(s).
If you're still unsure or somet

[2021-11-23 16:02] KUGA2 commented on #259
Thank you for this nice response.

First of all, I need to to double slash the configs `"doxdocgen.generic.paramTemplate": "\\param {param} ",`. Easy fix :)
Is still got a few issues. The result is:

[code]

I think my colleges will be disturbed by the fact, that the cursor is in the line which is supposed to be empty.

Also, I think it would be great do have blank texts. **Are there templates for

[2021-11-23 20:31] cschlosser commented on #259
Hi @KUGA2 ,

Yes and no. There is a template for `brief` (and it's default value):

[code]

There is no template for the description, yet.

But you could do something like this:

[code]

this may also deal with this request.

Indentation/alignment is possible.

It looks like this:
https://github.com/cschlosser/doxdocgen/blob/master/images/alignment.gif

The full reference how you can configure it

[2021-11-23 20:32] cschlosser commented on #252
Hi @ousugo ,

just to be sure.
Are these two settings set for you?

[code]

[2021-11-24 01:12] ousugo commented on #252
@cschlosser Yes, I sure
![image](https://user-images.githubusercontent.com/43401755/143153242-a4ae3693-45ab-4397-a2c4-2822032c1232.png)

[2021-11-26 15:02] KUGA2 commented on #259
Thanks. This works so  far. However, on other C(++) elements, there are now a lot of empty lines. Also, the brief collides with the c/dtor texts:
![grafik](https://user-images.githubusercontent.com/10581931/143599696-da3f4344-2b02-40e4-ac41-44d87e72ea93.png)

[2021-11-26 18:47] cschlosser commented on #252
Thank you.
I will try to reproduce it.

[2021-11-26 18:51] cschlosser commented on #259
Hi @KUGA2 ,

If you want to disable these texts you can set `"doxdocgen.generic.generateSmartText": false`.

Was this not the case before?
Could you please provide a before/after example if this is new.

[2021-11-29 08:58] KUGA2 commented on #259
I actually like the c/dtor texts. But they should overwrite the brief template.

On the empty lines:
This is my config now. It works great for functions and methods (as discussed above):
[code]

On all other elements, it does not work great:
![grafik](https://user-images.githubusercontent.com/10581931/143835833-fd36834d-297e-45ef-b8a0-714393fc20df.png)

I guess, this is from the "empty" lines in d

[2021-11-29 10:39] KUGA2 commented on #259
There is also an issue with the file comments and my settings:
[code]

This Results in:
![grafik](https://user-images.githubusercontent.com/10581931/143853057-093d5f88-f4c1-46c7-9cd6-1239db72d41e.png)

Expected:
![grafik](https://user-images.githubusercontent.com/10581931/143853215-5583eb02-b505-461c-aa02-c1d837044644.png)

notice the last line. In case of file comments, I want it totally blank.
A

[2021-11-29 10:49] KUGA2 opened #260 "Triggering the file comment"
**Describe the bug**
The file comment should also trigger, when there is a a non-doxygen comment (like a legal disclaimer) before

See screencap:
![Animation](https://user-images.githubusercontent.com/10581931/143854693-cfdcb01d-7d94-43c0-826e-94deedf2da8b.gif)

Os: windows 10
VSCode: 1.62.3
Plugin: v1.3.2

[2021-11-30 18:15] OmarElmasri commented on #252
neither slash ( / , \ ) nor @ working for me.

[2021-12-02 17:41] boanergies opened #261 "generator does not trigger for '.h' files that have cuda code in them"
**Describe the bug**
So I'm working with code where we label header files that have cuda syntax such as `__device__` to have the file extension `.h`. When I try to trigger the documentation generator it doesn't run, as soon as I change the file extension to `.cuh` it suddenly works. My feeling is this is a bug but I also understand if this is just the fact that the generator treats `.h` files as c

[2021-12-06 13:39] LordPriyansh opened #263 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `doxdocgen`
- Extension Version: `1.3.2`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-12-07 07:34] amir4zt opened #264 "Feature"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-07 07:36] #264 closed

[2021-12-08 20:25] wbh opened #265 "issues with vim"
**Describe the bug**
With vim extension enabled, the cursor isn't on the end of the first line for inputs, i.e. the cursor is at left of @brief

**Code example**

[code]

**Expected result**

[code]

**Actual result**

[code]

**Screencaps**
If applicable, add screencaps to help explain your problem.

**Your System:**
 - OS: [Windows, macOS, Linux]
 - VS Code Version [e.g. 1.55]
 - Doxdocgen Code

[2021-12-16 13:00] ifanma opened #266 "auto cursor location"
**Is your feature request related to a problem? Please describe.**

no, it's a new feature request.

**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/32629138/146376345-82459f31-547c-42aa-a300-2ae9c665ed3c.png)

After the comment is completed, the cursor can be located at the end of the @brief tag. And cursor can be located in turn using tab key.

just like

[2021-12-16 14:10] Rossettaylm opened #267 "How to add parameter types to my comments？"
If I want to add a parameter types for my comments like this
![image](https://user-images.githubusercontent.com/42148722/146386866-81cf9133-d116-4bdb-aba7-fabafc0cf0bb.png)
what can I do?
I found in the settings.json of vscode that you can write "doxdocgen.generic.paramTemplate": "@param {param}", I tried to write like
"doxdocgen.generic.paramTemplate": "@param {param} -> {type}", but it can not w

[2021-12-16 18:47] cschlosser commented on #267
Hi @Rossettaylm ,
this isn't possible yet. Thank you for requesting this feature.

[2021-12-16 18:48] cschlosser commented on #266
I tried to implement this once but couldn't figure it out back then.
Do you know how the API works?

[2022-01-14 23:08] Chose99 opened #269 "no IntelliSense for doxygen commands"
**Describe the bug**
the title says it pretty clear. I think i would have doxygen suggestions / auto complete but i dont...
the generation works fine as far as i can tell
![grafik](https://user-images.githubusercontent.com/75381159/149596073-969b12c4-247d-49eb-a08a-01484c58bf6d.png)

these are my workspace setting for the suggestion...
![grafik](https://user-images.githubusercontent.com/75381159/1

[2022-01-15 11:06] Chose99 commented on #269
just look at #252 and its most likely the same issue

[2022-01-15 11:06] #269 closed

[2022-01-15 11:08] Chose99 commented on #252
#269 i think i have the same problem

[2022-01-20 17:52] masriomarm opened #270 "Autocomplete doesn't trigger for .c & .h files. but it works for .cpp"
**Describe the bug**
A clear and concise description of what the bug is.
intellisense is not working when a file is .c or .h, but it works for cpp files.

when created a new workspace to take the images. it worked for header file. but still not working for c files.

**Screencaps**
![image](https://user-images.githubusercontent.com/77388732/150393809-04f2d15e-f3f0-45c1-adc6-4c276676100a.png)
![C_fi

[2022-01-23 05:55] masriomarm commented on #270
while in the same file, changing the language mode in the lower right corner in the status bar in vscode seems to workaround the issue.
while in c language mode, the extension doesn't trigger intellisense.
but it seems to work in cpp language mode.

hope this can help.

[2022-01-25 09:59] PSheppard-Isotropic commented on #254
Or

/**
 * @brief
 */
struct student {
  int id;                 /**< */
  char name[16]   /**< */
};

But yes please.

[2022-01-26 08:14] Vinayakams67 opened #271 "in my it is showing go live is irresponsive Extension issue"
- Issue Type: `Bug`
- Extension Name: `doxdocgen`
- Extension Version: `1.3.2`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-02-08 04:46] olowo726 commented on #270
I have exactly the same experience, i.e. it works when I change to C++ when editing a C file.

[2022-02-10 05:44] eeliu commented on #202
Me too

![image](https://user-images.githubusercontent.com/27064129/153345008-5b14a2f4-2685-4cbd-9b54-582853de761f.png)

[2022-02-18 07:44] congmingyige opened #272 "the prefix for other lines"
**Is your feature request related to a problem? Please describe.**
The function of “Doxdocgen › C: Comment Prefix” is "The prefix that is used for each comment line except for first and last". It is quite useful, but there is no function about "prefix for other lines".

**Describe the solution you'd like**
"the prefix for other lines", which means add prefix for other lines, e.g the image below ad

[2022-02-24 18:13] cschlosser commented on #271
Hi @Vinayakams67 ,

does this issue still persist for you?

[2022-02-24 18:14] cschlosser opened #274 "Custom section in fileorder is not generated"
There is also an issue with the file comments and my settings:
[code]

This Results in:
![grafik](https://user-images.githubusercontent.com/10581931/143853755-3d5a072d-d1cb-43df-8e2c-2a1b02365d88.png)

The custom (aka detailed) line is missing.

_Originally posted by @KUGA2 in https://github.com/cschlosser/doxdocgen/issues/259#issuecomment-981510391_

[2022-02-24 18:17] cschlosser opened #275 "Improve display of empty lines in doxdocgen.generic.order"
I actually like the c/dtor texts. But they should overwrite the brief template.

On the empty lines:
This is my config now. It works great for functions and methods (as discussed above):
[code]

On all other elements, it does not work great:
![grafik](https://user-images.githubusercontent.com/10581931/143835833-fd36834d-297e-45ef-b8a0-714393fc20df.png)

I guess, this is from the "empty" lines in d

[2022-02-24 18:17] Vinayakams67 commented on #271
Hi Cschlosser/Doxdocgen
Now it is working fine.
Thank you very much ❤️

On Thu, 24 Feb, 2022, 11:43 pm Christoph Schlosser, <
***@***.***> wrote:

[2022-02-24 18:19] cschlosser commented on #260
Hi @KUGA2 ,

this is on purpose and IIRC this has been a problem with another bug before.

In the current version of the extension the legal disclaimer should be part of the `custom` section in the file order and then be generated by doxdocgen.

[2022-02-24 18:23] cschlosser commented on #261
Hi @boanergies ,

the generator should not differentiate between c, cpp or cuda: https://github.com/cschlosser/doxdocgen/blob/9c8c583a95c99656aeff23d33d0ca422f55bad0a/src/CodeParserController.ts#L104

Does VS Code detect the language correctly when you have set it to `.h`?

[2022-02-24 18:24] cschlosser commented on #263
Feel free to reopen with more information

[2022-02-24 18:24] #263 closed

[2022-02-24 18:25] cschlosser commented on #202
Seems to me more like a problem with a broken extension locally and VS Code.
Reinstalls shouldn't fix this kind of bug.

[2022-02-24 18:25] #202 closed

[2022-02-24 18:28] cschlosser commented on #270
Hi @masriomarm ,

thank you for bringing this to my attention. Maybe this is related to #273 or #261.

[2022-02-24 18:28] #271 closed

[2022-02-24 19:12] Vinayakams67 commented on #271
Thanks a lot. ❤️

On Thu, 24 Feb, 2022, 11:58 pm Christoph Schlosser, <
***@***.***> wrote:

[2022-02-24 19:29] masriomarm commented on #270
Hi @cschlosser ,
thanks for your effort.
let me know if i could provide more help.

[2022-02-25 13:00] boanergies commented on #261
Reading [this](https://github.com/cschlosser/doxdocgen/pull/273) as part of the most recent release my issue may be connected to it. I'll try again and see what happens.

[2022-03-01 10:10] KUGA2 commented on #260
Ok. But We want the license header without doxygen marker (!) and with an empty newline in between. Is this possible?

[2022-03-04 12:58] comemaster opened #277 "Different @param templates for pointer and non-pointer types"
**Is your feature request related to a problem? Please describe.**
This is mostly related to the `[in/out]` direction specifiers for parameters in c/c++.
I usually specify all non-pointer parameters with `@param xxx`, since their direction is implicitly `in`, and pointer parameters with `@param[dir] xxx`, to make their direction obvious.

Since there is currently only one paramTemplate configurati

[2022-03-05 10:03] Linux-yzy commented on #277
hope to increase this demand

[2022-03-06 19:22] cschlosser commented on #277
Hi @TjazVracko ,

great detailed feature suggestion!

I think this should be possible but for implementing it I wouldn't limit the scope to `pointers` but also include `references`.

In addition I would prefer to make this a configuration template like this:
[code]
as it doesn't break existing code if `{direction}` isn't specified.

This is more complicated but it also handles the usecase from #12

[2022-03-06 19:26] cschlosser commented on #260
The empty lines should be possible but the license without the doxygen line prefix isn't I'm afraid.

[2022-03-07 07:55] TjazVracko commented on #277
@cschlosser great!

If one were to attempt to implement this themselves, how might they go about it?
any pointers?

[2022-03-07 12:31] Allen1218 opened #278 "How to add key words?"
struct
/**
* @struct
**/

enum
/**
* @enum
**/

namespace
/**
*@namespace
**/

Above all , how to generate ?

Thanks for your reply!

[2022-03-22 23:51] cschlosser commented on #278
Hi @Allen1218 ,

Could you please use markdown formatting for your code and explain a bit more with before/after examples on what you're trying to do?

[2022-03-23 00:02] cschlosser commented on #277
Hi @TjazVracko ,

Sorry for keeping you waiting so long.
I think first one should extend this class:
https://github.com/cschlosser/doxdocgen/blob/master/src/Lang/Cpp/CppArgument.ts
With an In/Out field.

The arguments are extracted from the tree here:
https://github.com/cschlosser/doxdocgen/blob/66816501cae9f60d0f363b4476cffd8b7c896505/src/Lang/Cpp/CppParser.ts#L545

and finally one has to read th

[2022-03-23 11:56] boanergies commented on #261
sorry it took me awhile to comment back on this, I tested it this morning and it seems to be working. Thank you for all your hard work this is such a great extension

[2022-03-23 11:56] #261 closed

[2022-04-08 12:42] xNiux opened #283 "Add special comment or encapsulation for functions"
Example :

For a variable :

[code]

For a function:

[code]

Because it sometimes really difficult to find the functions limits in a code .....

[2022-04-13 14:00] lchagnoleau opened #286 "doxdocgen.generic.dateFormat for DDD doesn't works"
**Describe the bug**
When I set the settings : ```"doxdocgen.generic.dateFormat": "DDD, MMM DD YYYY"```, I obtain something like ```103, Apr 13 2022``` instead of ```Wed, Apr 13 2022```

**Code example**

[code]

[2022-04-14 06:39] Jacques-eMediaIT commented on #97
Facing this issue on the latest version (1.4.0). Windows 10. Latest VS Code version. TS file. Can't get the trigger sequence to work.

[2022-04-21 18:03] cschlosser commented on #286
Hi @lchagnoleau ,

Unfortunately for you this works as intended: https://momentjscom.readthedocs.io/en/latest/moment/04-displaying/01-format/
I'm using momentjs for parsing dates and this is the format they chose.

To achieve what you're looking for try with lowercase `ddd`.

[2022-04-21 18:03] #286 closed

[2022-04-21 18:12] cschlosser commented on #97
@Jacques-eMediaIT  could you please open a new issue and maybe reference this one with more details and videos of your problem?

[2022-04-27 04:08] fengjrrz opened #287 "sorry, it's a fault of other plugin"
**Is your feature request related to a problem? Please describe.**
nothing

**Describe the solution you'd like**
nothing

[2022-04-27 06:12] #287 closed

[2022-04-29 19:39] heaton56 opened #288 "How to use with verilog/systemVerilog?"
**Is your feature request related to a problem? Please describe.**
How to use with verilog/systemVerilog?

**Describe the solution you'd like**
Appears not to function with .v and .sv files. Works with .c etc. A setting to work with other file type, or any text file by default.

**Describe alternatives you've considered**
none.

**Additional context**
Verilog basically has a syntax like c.

[2022-05-13 13:01] liaojm930 opened #289 "Not work in remote-ssh mode"
**Describe the bug**
I use the remote-ssh plugin in vscode, and install this plugin on the remote mechine too, but it not works.

**Code example**

[code]

**Expected result**

[code]

**Actual result**

[code]

**Your System:**
 - OS: [Windows]
 - VS Code Version [1.67.0]
 - Doxdocgen Code Version [1.4.0]

**Additional context**
Add any other context about the problem here.

[2022-05-16 03:24] liaojm930 commented on #289
I uninstall this plugin and install it again, it works well, but i don't know why.

[2022-05-16 03:24] #289 closed

[2022-06-10 22:11] ritesh202131 opened #290 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `doxdocgen`
- Extension Version: `1.4.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.68.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-06-14 12:17] mao-china opened #291 "how to put two tags in one line?"
Hi:

I want to put @author and @date in one line, would you give me some suggestions?

thanks very much!
@cschlosser

[2022-07-12 07:34] diqiu114 opened #294 "期望增加显示编码格式功能"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-30 17:46] Krupa27 opened #296 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `doxdocgen`
- Extension Version: `1.4.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.69.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-08-16 19:01] #290 closed

[2022-08-16 19:02] cschlosser commented on #291
Hi @mao-china ,

Currently this is not possible.

Thank you for sending this feature request though! Would you be interested in implementing this?

[2022-08-16 19:03] cschlosser commented on #294
Hi,
Could you rephrase your issue in English please?

[2022-08-16 19:03] #296 closed

[2022-08-18 13:08] LarsMiVo commented on #252
I have the same issue:
Set both generic command suggestions for user and workspace (to be sure). But no suggestion for @ or \

VS Code Version: 1.70.2
OS: Windows_NT x64 10.0.19044
Doxdocgen Code Version：1.4.0

[2022-09-06 15:08] xiaohuihuitop commented on #267
require

[2022-09-19 04:33] DeadRabbits307 commented on #76
any progress here?

[2022-09-19 04:33] DeadRabbits307 commented on #75
any progress here?

[2022-10-07 16:22] tqfx opened #298 "Autocomplete cannot be triggered without a prefixed asterisk"
[code]

See screencap:
![1](https://user-images.githubusercontent.com/59302530/194599579-960cac8e-4d2b-4602-a0b3-6d10f3447719.gif)

VSCode: 1.69.2
cschlosser.doxdocgen: v1.4.0
OS: Windows_NT x64 10.0.19044

[2022-10-09 14:16] NicolasWent opened #299 "Add support for solidity"
**Is your feature request related to a problem? Please describe.**
It seems like the extension does only work for C++ or C, it would be amazing to be able to support .sol files

**Describe the solution you'd like**
It could be nice to support solidity file extensions :)

**Describe alternatives you've considered**
I am currently using another extension

[2022-10-13 09:13] shiretu commented on #97
I have same problem: typing `/**` with or without `Enter` does not trigger the generator. When I press `Enter` it just adds a new commented line, resulting in this overall form:
[code]

[2022-10-14 06:01] yyangdid commented on #270
Is there any way to solve this problem?

[2022-10-19 02:27] matiasdiaz21 commented on #97
![image](https://user-images.githubusercontent.com/36611421/196582819-2f98bc81-03e3-40a6-9203-0fc56c89c173.png)

Same problem here. tap /** and Enter and not work

[2022-10-19 07:30] rowanG077 commented on #97
Just to note this plugin only works for C/C++ not for other languages.

[2022-10-24 14:49] palapapa commented on #270
Still a problem

[2022-10-31 04:39] jerviscui opened #300 "Does it support keyboard?"
Does it support shortcut keys to trigger the action of generating a doc?

I can't find it in the settings.

[2022-11-01 07:56] OpenSourceEverything opened #301 "How do I generate doxygen documentation and where is it output to?"
**Describe the bug**
Where in the readme does it describe how to generate documentation?

[2022-11-01 09:43] #301 closed, assigned to nobody

[2022-11-03 18:05] chriskerluke commented on #283
I was also looking for a feature like this.

[2022-11-11 15:39] Chris-Bee opened #302 "Settings for templates have no effect"
**Describe the bug**
Changing the prefix for the templates does not return the expected result.

I tried to change the templates from "@brief" to "\brief" and the auto-generation still generates "@brief". I also tried to leave the field blank, which should then not generate the "brief" element at all, but it still generates "@brief". This happens for all templates: param, return,  etc.

I used the

[2022-11-21 14:49] Chris-Bee commented on #302
Funny enough, after restarting VS code, it works exactly once as expected, a second time produces the behavior described above.

[2022-11-22 14:45] jPerotto opened #303 "Color from flag @warning"
**Is your feature request related to an issue? Please describe.**
I would like it to be possible to configure the color of the warning flag, or that it be red by default. Because it helps a lot to visualize where I have a warning

**Describe the solution you would like**
Create a configuration in vscode or default to red.